@font-face{
    font-family: 'MICEGothic';
    src:
        url("/assets/fonts/MICEGothicRegular/WebFonts/MICEGothic.woff") format('woff'),
        url("/assets/fonts/MICEGothicRegular/WebFonts/MICEGothic.woff2") format('woff2');}
    #userPolicyBundle{
    display:inline-block;
    transform:translate(300px,70px);
    width:1300px;
    height:100%;
    }
    footer{
    display:block;
    transform:translateY(100px);
    font-weight:bold;
    }
    body{
    font-family:'MICEGothic';
    font-size:18px;
    /* line-height:2em; */
    }
    #userPolicyBundle{
    line-height:2em;
    }
    h4{
    font-size:25px;
    font-weight:bold;
    text-align:center;
    color:midnightblue;
    }
    h5{
    font-size: 25px;
    color:lightseagreen;
    }
    h6{
    font-size:20px;
    padding-top:20px;
    padding-bottom:10px;
    color:darkcyan;
    }
    td{
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    width:500px;
    height:100px;
    }
    ol>li{
    list-style-type:decimal;
    margin-left:20px;
    }
    #userPolicyBundle>ul>li{
    list-style-type: square;
    margin-left:40px;
    }
   
    #tdThree{
    border-bottom:10px solid midnightblue;
    }
    table{
    border-bottom:1px solid black; 
    text-align: center;
    }
    a{
    text-decoration:none;
    color:black;
    }