<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>COFFEBENE</title>
        <link rel="stylesheet" href="/src/style/reset.css">
        <link rel="stylesheet" href="/src/style/header.css">
        <link rel="stylesheet" href="/src/style/footer.css">
        <link rel="stylesheet" href="./comeHere.css">
    </head>

    <body>
        <header id="header" class="header"></header>

        <main id="comeHereContent">
            <h3>오시는 길</h3>
            <br>
            <hr><br>

            <div id="caffebeneCompany">
                <img id="cafeMap" src="/assets/images/header_footer/caffebenePlace.png">
                <table>
                    <tr>
                        <td><span>카페베네 본사 주소:</span> 경기도 양주시 백석읍 권율로1203번길 8-13, 2층</td>
                    </tr>
                    <tr>
                        <td><span>고객센터:</span> 1688-4666</td>
                    </tr>
                    <tr>
                        <td><span>대중교통:</span> 지하철로 뚝섬역에서 내린 뒤 6번출구로 나와서 이동.</td>
                    </tr>
                </table>
            </div>

            <hr style="border:1px solid teal; opacity:0.5;">
            
            <div id="plantContent">
                <table id="plantPlace">
                    <tr>
                        <td><span>부산영업소:</span></td>
                        <td>부산광역시 해운대구 센텀서로30, <br>22층(우동,KNN타워)</td>
                    </tr>
                    <tr>
                        <td><span>대전영업소:</span></td>
                        <td>대전광역시 동구 한밭대로 1297번길 9, <br>종근당빌딩 702호</td>
                    </tr>
                    <tr>
                        <td><span>로스팅 플랜트:</span></td>
                        <td>경기도 양주시 백석읍 권율로 1203번길 8-13</td>
                    </tr>
                    <tr>
                        <td><span>양주센터:</span></td>
                        <td>경기도 양주시 백석읍 권율로 1203번길 8-13</td>
                    </tr>
                </table>
                <div id="moving">
                    <img id="plant" src="/assets/images/header_footer/caffebeneRoastingPlant.png">
                    <img id="plant2" src="/assets/images/header_footer/roastingplant.jpg">
                    <img id="plant3" src="/assets/images/header_footer/pickingCoffeebeans.jpg">
                    <img id="plant4" src="/assets/images/header_footer/caffebeneRoastingPlant.png">
                </div>
            </div>
        </main>
        <footer id="footer" class="footer"></footer>

        <script src="/common/callHTML.js"></script>
    </body>

</html>