@keyframes move {
  0% {
    transform: translateY(0px);
  }
  16% {
    transform: translateY(0px);
  }
  32% {
    transform: translateY(-370px);
  }
  48% {
    transform: translateY(-370px);
  }
  64% {
    transform: translateY(-740px);
  }
  80% {
    transform: translateY(-740px);
  }
  100% {
    transform: translateY(-1110px);
  }
}

body {
  text-align: center;
  font-family: "MICEGothic";
  font-size: 18px;
  overflow-x: hidden;
  width: 1920px;
}

h3 {
  font-size: 24px;
  color: midnightblue;
}

span {
  font-size: 18px;
  font-weight: bold;
  color: midnightblue;
}

/* table */
table {
  text-align: left;
}
tr td {
  font-size: 18px;
  padding-bottom: 40px;
  padding-top: 40px;
}
#moving {
  position: absolute;
  display: inline-block;
  transform: translate(50px, -400px);
  width: 350px;
  height: 370px;
  overflow: hidden;
}

#cafeMap {
  float: left;
  margin-right: 15px;
}

#plant,
#plant2,
#plant3,
#plant4 {
  float: right;
  width: 350px;
  height: 370px;
  animation-name: move;
  animation-duration: 16s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/*조정용 */

#comeHereContent,
#plantContent {
  width: 1000px;
  height: 350px;
}
main{
    width: 1920px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 600px;
}

header ul li{
  font-size: 14px;
}