<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAFFEBENE</title>
    <link rel="stylesheet" href="/RenewalCB/src/style/reset.css" />
    <link rel="stylesheet" href="BrandStory.css">
    <link rel="stylesheet" href="/RenewalCB/src/style/header.css">
    <link rel="stylesheet" href="/RenewalCB/src/style/footer.css">

</head>
<body>
    <header id="header" class="header"></header>
<main>
    <div id="allTopPic">
        <div id="TopPic1">
            <span id="TopComment1">우리 동네에는 [오래된 기찻길]이 있습니다.</span>
        </div>
        <div id="TopPic2">
            <span id="TopComment2">우리 동네에는 [아이들 웃음소리]가 있습니다.</span>
        </div>
       <div id="TopPic3">
            <span id="TopComment3">우리 동네에는 [도시의 반딧불이]가 있습니다.</span>
        </div>
        <div id="TopPic4">
            <span id="TopComment4">우리 동네에는 [&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;]가 있습니다.</span>
        </div>
        <div id="TopPic5">
            <span id="TopComment5">우리 동네에는 [오래된 기찻길]이 있습니다.</span>
        </div>
    </div>
    
    <div id="story2">
        <p id="poem1">동네마다 알게 모르게<br>
            우리 곁을 둘러싸고 있는<br>
            <span class="bigWord">정겨운 것들이 있습니다.</span></p>
        <img id="MiddlePic1" src="/RenewalCB/assets/images/BrandStory/apartmentLightground.jpg">
        <p id="poem2">오래된 세탁소, 아이들 웃음 소리처럼-<br>
            없으면, 서운하고<br>
            있으면, 더 없이 좋은 그런 것들이요</p>
    </div>
    
    <div id="story3">
        <img id="MiddlePic2" src="/RenewalCB/assets/images/BrandStory/nostalgiaNarrowway.jpg">
        <p id="poem3">우리도 그런 존재가 되려고 합니다.<br><br>
    
            화려한 랜드마크는 아니더라도<br>
            누구나 편하게 드나들 수 있는 곳<br><br>
    
            언제나 활짝 열려있는<br>
            동네 사랑방 같은 곳이 되려고 합니다.<br><br>
    
            우리 동네의 자랑이 되고 싶습니다.<br>
            나의 정다운 이웃, 당신을 기다리고 있습니다.</p>
    </div>
    
    <div id="allBottomPic">
        <div id="BottomPic1">
            <span id="BottomComment1">카페베네에는 [우리의 이야기]가 있습니다.</span>
        </div>
        <div id="BottomPic2" class="bottomPic2">
            <span id="BottomComment2">카페베네에는 [따뜻한 배려]가 있습니다.</span>
        </div>
        <div id="BottomPic3">
            <span id="BottomComment3">카페베네에는 [소중한 진심]이 있습니다.</span>
        </div>
        <div id="BottomPic4">
            <span id="BottomComment4">카페베네에는 [우리의 이야기]가 있습니다.</span>
        </div>
    </div>
    <!-- 이미지가 주제와 연관성이 없음. 슬라이드로 넘어가기보다는 따로 두는 게 더 나아보임. 어떻게? -->
    
    <div id="story4">
        <p id="poem4">
            <p id="boldWord">
                2008년부터 지금까지<br>
            카페베네는 대한민국 대표 토종 커피브랜드로 많은 사랑을 받아왔습니다.</p>
            <br><br>
    
            ‘배려’와 ‘진정성’으로<br>
            소중한 오늘의 이야기를 만들어가는 곳<br>
            가장 나다운 시간을 보낼 수 있는 곳<br>
            누구에게나 소중한 진심을 다하는 곳이 되겠습니다.
        </p>
    
        <img id="EndPic" src="/RenewalCB/assets/images/BrandStory/eveningCoffee.jpg">
    
        <p id="poem5">
            <span class="bigWord">우리동네_카페베네</span>
            <br>
            그래서, 우리의 내일이<br>
            오늘보다 조금 더 빛날 수 있도록<br><br><br>
    
            누구에게나 열려있는 공간<br>
            머물고 싶은 편안한 아지트가 되겠습니다.
        </p>
    </div>
</main>

    <footer id="footer" class="footer"></footer>
    <script src="/RenewalCB/common/callHTML.js"></script>
</body>
</html>