<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAFFEBENE</title>
</head>

<body>
    <div class="핀">
        <input type="button" value="X">

        <div>
            <h4> 매장 이름</h4>
            <ul>
                <li><img src="" alt="">아이콘들</li>
            </ul>

            <p>주소</p>
            <p>전화번호</p>
        </div>

        <input type="button" value="자세히보기">
    </div>

    <div class="modal">
        <div>
            <h4>매장 이름</h4>
            <input type="button" value="X">
        </div>

        <div>
            <div>
                <h5>주소</h5>
                <p>매장 주소</p>
            </div>
            <div>
                <h5>전화번호</h5>
                <p>031-000-0000</p>
            </div>
            <div>
                <h5>영업시간</h5>
                <p>09-22</p>
            </div>
            <div>
                <h5>주차</h5>
                <p>주차 장소</p>
            </div>
        </div>
    </div>
</body>

</html>