<h1>
  <div id="logoTop">
    <a href="/RenewalCB/src/view/main/index.html">
      <img id="logoTopImg" src="/RenewalCB/assets/images/header_footer/caffebeneLogoTop.png" />
    </a>
  </div>
</h1>

<nav>
  <h2>
    <ul id="topMenu">
      <li>CAFE BENNE</li>
      <li>MENU</li>
      <li>STORE</li>
      <li>CONTENTS</li>
      <li>BRAND</li>
    </ul>
  </h2>

  <div id="listsCollection">
    <div class="lists">
      <ul id="menu0">
        <li><a href="/RenewalCB/src/view/cafeStory/BrandStory/BrandStory.html">브랜드 스토리</a></li>
        <li><a href="/RenewalCB/src/view/cafeStory/BeneCatStory/BenecatStory.html">베네캣 스토리</a></li>
        <li><a href="/RenewalCB/src/view/footerPlus/comeHere/comeHere.html">오시는 길</a></li>
      </ul>
    </div>

    <div class="lists">
      <ul id="menu1">
        <li><a href="/RenewalCB/src/view/menu/new/new.html">신메뉴</a></li>
        <li><a href="/RenewalCB/src/view/menu/coffee/coffee.html">커피</a></li>
        <li><a href="/RenewalCB/src/view/menu/beverage/beverage.html">음료</a></li>
        <li><a href="/RenewalCB/src/view/menu/food/food.html">푸드</a></li>
      </ul>
    </div>

    <div class="lists">
      <ul id="menu2">
        <li><a href="/RenewalCB/src/view/store/store.html">국내 매장</a></li>
      </ul>
    </div>

    <div class="lists">
      <ul id="menu3">
        <li><a href="/RenewalCB/src/view/contents/contents.html">게시판</a></li>
      </ul>
    </div>

    <div class="lists">
      <ul id="menu4">
        <li><a href="/RenewalCB/src/view/brand/processes/processes.html">개설 절차</a></li>
        <li><a href="/RenewalCB/src/view/brand/B2BConsulting/b2b.html">B2B</a></li>
        <li><a href="/RenewalCB/src/view/contact/contact/contact.html">상담 신청</a></li>
      </ul>
    </div>
  </div>
</nav>