<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/RenewalCB/src/style/reset.css" />
    <link rel="stylesheet" href="./contentsInfo.css">
    <link rel="stylesheet" href="/RenewalCB/src/style/header.css">
    <link rel="stylesheet" href="/RenewalCB/src/style/footer.css">
    <title>CAFFEBENE</title>
</head>
<body>
    <header id="header" class="header"></header>
    <main>
        <p class="path"></p>
        <h2 class="title"></h2>
        <p class="date"></p>
        <div class="contents"></div>

        <div class="btn">
            <a href="../contents.html">목록</a>
          </div>
    </main>
    <div id="footer" class="footer"></div>
    <script src="contentsInfo.js"></script>
    <script src="/RenewalCB/common/callHTML.js"></script>
</body>
</html>