@font-face {
    font-family: "MICEGothic";
    src:url("MICEGothicRegular/WebFonts/MICEGothic.woff") format("woff"),
        url("MICEGothicRegular/WebFonts/MICEGothic.woff2") format("woff2");
    }
    
    body{
        display:inline-block;
        text-align: center;
        font-family:'MICEGothic';
        font-size: 20px;
        overflow-x:hidden;
        justify-content: center;
        
    }
    
    @keyframes slideA{/*최상단 사진 움직이는 애니메이션*/
        0%{transform:translateY(0px);}
        12%{transform:translateY(-820px);}
        24%{transform:translateY(-820px);}
        36%{transform:translateY(-1640px);}
        48%{transform:translateY(-1640px);}
        60%{transform:translateY(-2460px);}
        72%{transform:translateY(-2460px);}
        84%{transform:translateY(-3280px);}
        100%{transform:translateY(-3280px);}
    }
    
    @keyframes slideB{/*중간 사진 움직이는 애니메이션*/
        0%{transform:translateY(0px);}
        17%{transform:translateY(-820px);}
        35%{transform:translateY(-820px);}
        52%{transform:translateY(-1640px);}
        70%{transform:translateY(-1640px);}
        87%{transform:translateY(-2460px);}
        100%{transform:translateY(-2460px);}
    }

    /*최상단 사진. 움직이는 부분.*/
    #allTopPic{
        width:2560px;
        height:820px;
        top:300px;
        overflow:hidden;
    }
    #TopPic1, #TopPic2, 
    #TopPic3, #TopPic4,
    #TopPic5{
        width:2560px;
        height:820px;
        text-align: center;
        animation-name:slideA ;
        animation-duration: 23s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
    }
    /*div안에 배경으로 이미지를 채움*/
    #TopPic1{
        background-image: url("projectimages/BrandStory/railway.jpg");
    } 
    #TopPic2{
        background-image: url("projectimages/BrandStory/playingChildren.jpg");
    }
    #TopPic3{
        background-image: url("projectimages/BrandStory/nightHighway.jpg");
    }
    #TopPic4{
        background-image: url("projectimages/BrandStory/caffebeneHelloagain.jpg");
    }
    #TopPic5{
        background-image: url("projectimages/BrandStory/railway.jpg");
    }
    /*움직이는 사진 안에 들어간 글씨*/
    #TopComment1, #TopComment2, 
    #TopComment3, #TopComment4,
    #TopComment5{
        display:inline-block;
        transform:translateY(600px);
        color:white; 
        font-size:50px;
        font-weight:bold;
        text-shadow:0px 0px lightseagreen, 
        0px 0px lightseagreen, 
        0px 0px lightseagreen,
        0px 0px lightseagreen;
    }
    #TopComment3{
        transform:translate(30px,200px);
    }
    #TopComment4{
        transform:translate(-120px,650px);
        color:lightseagreen;
    }
    
    /*크거나 강조가 들어간 일부 글씨들*/
    #boldWord{
        font-weight:bold;
        color:rgb(65, 65, 109);
    }
    .bigWord{
        font-size:30px;
        color:rgb(65, 65, 109);
        }
    /*빨랫대 사진, 위 아래의 문구*/
    #story2{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top:200px;
        margin-bottom:200px;
        line-height:2em;
        width:2560px;
        height:1060px;
    }
    #poem2, #poem1{
        display:inline-block;
        text-align:left;
        width:1021px;
        height:5em;
        padding-bottom: 40px;
    }
    #poem1{
        color:rgb(65, 65, 109);}

    /*골목길 사진, 사진 옆의 문구*/    
    #story3{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom:50px;
        width:2560px;
        height:700px;
    }
    #poem3{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align:left;
        line-height:2em;
        width:500px;
        height:550px;
    }
    
    /*중간 부분 움직이는 사진*/
    #allBottomPic{
        width:2560px;
        height:820px;
        margin-bottom:50px;
        overflow:hidden;
    }
    
    #BottomPic1,
    #BottomPic2,
    #BottomPic3,
    #BottomPic4{
        text-align: center;
        width:2560px;
        height:820px;
        animation-name:slideB;
        animation-duration: 23s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        }
    #BottomPic1{
        background-image: url("projectimages/BrandStory/benecatEchobag.jpg");
    }
    #BottomPic2{
        background-image: url("projectimages/BrandStory/cafeCeiling.jpg");
    }
    #BottomPic3{
        background-image: url("projectimages/BrandStory/coffeePressing.jpg");
    }
    #BottomPic4{
        background-image: url("projectimages/BrandStory/benecatEchobag.jpg");
    }
    /*움직이는 사진 안의 글씨*/
    #BottomComment1,
    #BottomComment2,
    #BottomComment3,
    #BottomComment4{
        display:inline-block;
        transform:translateY(600px);
        font-size:50px;
        font-weight:bold;
        color:pink;
    }
    /*맨 아래 커피 사진, 그 위 아래의 글씨*/
    #story4{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align:center;
        line-height:2em;
        width:2560px;
    }