main {
    padding-bottom: 120px;
  }
  
  main .title,
  main .date,
  main .notice,
  main .btn {
    width: 1190px;
  
    margin: 0 auto;
    margin-bottom: 30px;
  }
  
  /* 경로 */
  main .path {
    margin-top: 10px;
    padding: 10px;
  
    background: #00000035;
  
    color: #ffffff;
  
    margin-bottom: 80px;
  }
  main .path p {
    width: 1190px;
  
    margin: 0 auto;
  }
  main .path p a {
    color: #fff;
  }
  
  /* 제목 */
  main .title {
    text-align: center;
  
    font-size: 1.2rem;
    font-weight: bold;
  
    color: #3a466a;
  }
  /* 날짜 */
  main .date {
    text-align: center;
  
    font-size: 0.95rem;
    font-weight: bold;
  
    color: #808080;
  
    padding-bottom: 30px;
  }
  /* 이미지 */
  main .notice img {
    display: block;
    width: 700px;
  
    margin: 50px auto;
  }
  /* 내용 */
  main .notice p {
    text-align: center;
  
    padding-bottom: 30px;
  
    font-size: 0.9rem;
  }
  
  /* 목록 버튼 */
  main .btn {
    text-align: center;
  }
  
  .btn a {
    width: 300px;
    background: #00a5b1;
    color: #fff;
    min-width: 200px;
    height: 50px;
    padding: 15px 20px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 20px;
  }
  
  .btn a:hover {
    box-shadow: -2px -2px lightseagreen, 2px 2px lightseagreen,
      -2px 2px lightseagreen, 2px -2px lightseagreen;
  }
  