@font-face{
    font-family: 'MICEGothic';
    src:
        url("/RenewalCB/assets/fonts/MICEGothicRegular/WebFonts/MICEGothic.woff") format('woff'),
        url("/RenewalCB/assets/fonts/MICEGothicRegular/WebFonts/MICEGothic.woff2") format('woff2');
    }
    #userPolicyBundle{
    display:inline-block;
    transform:translate(300px,70px);
    width:1300px;
    height:100%;
    }
    footer{
    display:block;
    transform:translateY(100px);
    font-weight:bold;
    }
    body{
    font-family: 'MICEGothic';
    font-size:18px;
    /* line-height:2em; */
    }
    #userPolicyBundle{
    line-height:2em;
    }
    h4{
    font-size:25px;
    font-weight:bold;
    text-align:center;
    color:midnightblue;
    }
    h5{
    font-size: 25px;
    color:lightseagreen;
    }
    h6{
    font-size:20px;
    padding-top:20px;
    padding-bottom:10px;
    color:darkcyan;
    }
    /* li{
    padding-bottom:3px;
    } */
    .policy > li{
    counter-increment: custom-counter;
    list-style-type:none;
    }
    .policy > li:before{
    content:counter(custom-counter)")"}/*화살표를 입력해야 바로 아래 자식요소에게만 적용된다.*/
    ol li{
    list-style-type:lower-alpha;
    margin-left:40px;
    }
    table{
    border-bottom:1px solid black; 
    text-align: center;
    }
    td{
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    width:500px;
    height:100px;
    }
    #tdOne{
    border-bottom:10px solid midnightblue;
    }
    a{
    text-decoration:none;
    color:black;
    }