<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CAFFEBENE</title>
    <script src="/common/callHTML.js"></script>
    <link rel="stylesheet" href="/src/style/header.css">
    <link rel="stylesheet" href="/src/style/footer.css">
    <link rel="stylesheet" href="/src/style/reset.css">
    <link rel="stylesheet" href="/src/view/footerPlus/userPolicyBenecard/userPolicyBenecard.css">
   
</head>
<body>

<header id="header" class="header"></header>

<div id="userPolicyBundle">
    <h4>이용약관</h4><br>
    <hr>
    
    <table>
        <tr><td id="tdOne"><a href="/src/view/footerPlus/userPolicyBenecard/userPolicyBenecard.html">베네카드 이용약관</a></td>
            <td id="tdTwo"><a href="/src/view/footerPlus/userPolicyPlaceInfo/userPolicyPlaceInfo.html">위치정보 이용약관</a></td>
            <td id="tdThree"><a href="/src/view/footerPlus/userPolicyContent/userPolicyContent.html">영상처리방침 및 관리지침</a></td></tr>
    </table><br>
    
    <h5>[제1장 총칙]</h5>
    <h6>제1조 목적</h6>
    이 약관은 주식회사 카페베네(이하 “회사”라 합니다)가 발행한 
    Bene Card를 구입 또는 정당한 방법으로 소지한 고객이 
    회사가 제공하는 Bene Card 서비스를 이용함에 있어 필요한 
    이용 조건, 절차 및 당사자간의 권리, 의무 등 기본적인 사항을 
    규정하는 것을 목적으로 합니다.
    
    <h6>제2조 용어의 정의</h6>
    <ul class="policy">
        <li>이 약관에서 사용하는 용어는 다음과 같이 정의합니다.</li>
        <li>‘Bene Card’란 회사가 정의한 기술사양에 따라 
            회사가 인증한 Chip 또는 Application을 내장하고 
            Bene Card 브랜드를 부착한 선불전자지급수단임과 동시에 
            고객 ‘베네 머그’를 적립하여 서비스를 정상적으로 이용할 수 있도록 
            회사가 승인한 카드로서 회사가 발급합니다.</li>
        <li>‘고객’이란 이 약관에 동의하고 매장에서 ‘Bene Card’를 구매하거나, 
            모바일 애플리케이션에서 ‘Bene Card’를 발급한 자를 말합니다.</li>
        <li>‘회원’이란 고객 중 회사의 홈페이지 등을 통해 
            이용 약관과, 개인정보의 수집, 제공 및 활용에 관한 동의서에 동의하고, 
            소지한 ‘Bene Card’를 등록한 자를 말합니다.</li>
        <li>‘매장’이란 회사가 직영/가맹점으로 운영하는 모든 매장을 말합니다.</li>
        <li>’최초 충전’(Activation): 
            Bene Card를 처음 구입하여 충전하는 행위를 말합니다.</li>
        <li>‘결제’(Redemption): 
            Bene Card로 이용금액의 전체 또는 일부 금액을 결제 하는 행위를 말합니다.</li>
        <li>‘잔액 조회’(Balance inquiry)’: 
            Bene Card에 대한 잔액에 대해 문의하는 행위를 말합니다.</li>
        <li>‘재충전’(Reload): 
            소지한 Bene Card에 금액을 재충전 하는 행위를 말합니다.</li>
        <li>‘환급’이란 
            Bene Card에 기록된 잔액을 고객과 회사간에 약정된 방법과 절차에 따라 
            고객에게 돌려주는 것을 말하며, 
            동일한 의미로서 ‘환불’이란 용어로 사용하기도 합니다.</li>
        <li>‘고장카드’란 
            정상적으로 사용이 불가능한 Bene Card를 말하며, 
            불량카드와 파손카드로 구분합니다.
            가. 고장카드 중 ‘불량카드’란 
            Bene Card의 외형상 이상은 없으나, 
            기능상의 문제로 단말기 등에서 사용이 불가능한 상태의 Bene Card를 말합니다.
            나. 고장카드 중 ‘파손카드’란 
            고객의 고의 혹은 과실로 구멍 뚫림, 구김, 휘어짐, 찍힘, 태움, 조각남, 
            깨짐, 갈라짐, 카드 번호 지워짐 등으로 인하여 훼손된 Bene Card를 말합니다.</li>
        <li>‘베네 머그’란 
            고객이 회사의 상품을 구입할 경우 회사가 고지한 방침에 따라 부여되는 혜택을 말합니다.</li>
        <li>‘베네 머그 부정 적립 및 사용’이란 
            고객이 제품 및 상품을 구매 또는 사용하지 않았음에도 불구하고 
            해당 고객에게 ‘베네 머그’가 적립 또는 사용된 경우를 말합니다.</li>
        <li>‘Reward Program’이란 
            고객이 구입한 Bene Card를 모바일 애플리케이션에 등록하거나 
            모바일 애플리케이션에 자동으로 Bene Card가 발급된 후 
            매장 내에서 결제 등에 이용할 경우, 혜택을 제공하는 프로그램입니다.</li>
        <li>‘제조메뉴’란 매장 내에서 조리 및 제조된 모든 메뉴를 말합니다.</li>
    </ul>
    
    <h6>제3조 약관의 효력 및 변경 등</h6>
    <ul class="policy">
        <li>본 약관은 그 내용을 회사가 홈페이지에 게시하고, 
            고객이 Bene Card를 충전 후 소지 또는 정당한 방법으로 소지하여 사용함으로써 
            그 효력이 발생됩니다.</li>
        <li>회사는 약관을 변경하고자 할 경우에는 
            적용일자 및 개정사유를 명시하여 현행 약관과 함께 홈페이지에 
            그 적용일의 7일 전부터 공시하거나 
            회원이 입력한 가장 최근의 e-mail로 전송하는 방법으로 회원에게 고지합니다. 
            다만, 회원에게 불리한 내용으로 약관을 개정하는 경우에는 
            적용일로부터 30일 전까지 홈페이지에 공시하고 
            회원이 입력한 가장 최근의 e-mail로 전송하는 방법으로 회원에게 고지합니다. 
            다만, 법령의 개정이나 제도의 개선, 감독기관의 권고 등으로 인하여 
            긴급히 이 약관을 변경할 경우에는 즉시 이를 게시합니다.</li>
        <li> 본 조의 규정에 의하여 개정된 약관은 
            원칙적으로 그 변경되는 약관의 효력 발생일로부터 장래를 향하여 유효합니다.</li>
        <li> 고객이 변경된 약관 사항에 동의하지 않을 경우, 
            약관의 효력 발생 전일까지 서비스 이용을 중단하거나 회원탈퇴를 함으로써 
            이용 계약이 해지할 수 있으며, 약관의 개정과 관련하여 효력 발생일 전일까지 
            이의를 제기하지 않는 경우에는 개정된 약관에 동의한 것으로 간주합니다.</li>
    </ul>
    
    <h6>제4조 약관 외 준칙</h6>
    이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 관계 법령 
    또는 상 관례에 따릅니다.
    
    
    <h5>[제2장 Bene Card 서비스]</h5>
    <h6>제5조 목적별 이용</h6>
    <ul class="policy">
        <li>선불전자지급수단으로의 Bene Card
            <ol type="a">
                <li>고객은 국내 카페베네 특수상권 및 일부매장을 제외한 매장 어디에서나 
                    Bene Card로 서비스를 제공받거나 제품 및 상품을 구매할 수 있습니다. 
                    단, Bene Card의 발행 목적, 매장의 임대차 계약상 임대인이 요구한 조건, 
                    또는 기술적 사유(시스템 점검, 단말기 고장, 통신회선 불량, 
                    신규카드 또는 단말기의 안정화 작업 등)로 일부 Bene Card는 
                    매장 내 이용이나 충전, 환급 신청이 제한될 수 있으며, 
                    이 경우 회사는 매장에 배포된 안내장 또는 홈페이지 등을 이용하여 
                    고객에게 고지합니다.</li>
                <li>본 Bene Card는 기술적 결함이나 네트워크의 오류 및 장애 발생으로 
                    일시적으로 서비스 이용에 제한이 발생할 수 있습니다.</li>
                <li>Bene Card 잔액에 대한 고객의 권리는 
                    최종 충전일 또는 최종 사용일로부터 5년이 지나면 자동 소멸합니다.</li>
            </ol>
        <li>Reward Program의 수단으로서 Bene Card</li>
        <ol type="a">
            <li>회원은 회사의 모바일 애플리케이션에 Bene Card를 등록함으로써, 
                Bene Card의 리워드 혜택을 받을 수 있습니다.</li>
            <li>‘베네 머그’ 적립 :
                회원은 회사에서 메뉴 구입을 통하여 ‘베네 머그’를 적립할 수 있습니다. 
                구체적인 적립 방법과 적립 기준은 본 약관 제 13조의 ‘베네 머그’ 적립 기준에 따라 제공됩니다.</li>
            <li>기타 서비스 : 
                회사는 추가적인 서비스를 개발하여 회원에게 제공할 수 있습니다. 
                서비스 제공 기준은 각각의 서비스 제공 시점에 회사 홈페이지에 고시한 기준으로 
                적용됩니다.</li>
            <li>회원이 본 약관 또는 회사 개인정보 처리방침에 따라 
                등록해야 하는 고객에 대한 정보를 등록하지 않거나 허위로 등록하는 경우 
                본 조에 따른 혜택의 이용이 제한될 수 있습니다.</li>
        </ol>
    </ul>
    
    <h6>제6조 표시사항 등</h6>
    <ul class="policy">
        <li>발행자 : 카페베네</li>
        <li>구매가격 : ‘Bene Card’는 별도의 카드 구매가격이 없는 충전식 상품권입니다.</li>
        <li>유효기간 : 
            ‘Bene Card’에 충전 잔액이 남아있는 동안은 기한의 정함 없이 사용이 가능하며,
             더 이상 잔액이 없는 경우 최종 충전일 또는 최종 사용일로부터 5년 경과 시 소멸됩니다.</li>
        <li>사용조건(사용가능금액, 제공 가능 물품 등) : 
            ‘Bene Card’는 충전식 상품권으로, 고객이 사용할 수 있는 금액은 
            충전한 금액과 같으며, 현금과 동일하게 카페베네 매장에서 
            제품 및 상품을 구매할 수 있습니다.</li>
        <li>사용가능가맹점 : 
            ‘Bene Card’는 국내 특수상권 및 일부매장 제외한 매장 어디에서나 
            사용이 가능합니다.</li>
        <li>환불 조건 및 방법 : 
            고객이 충전된 금액의 잔액 요청 시, 회사는 최종 충전 금액이 1만원 미만일 경우는
             최종 충전금액의 80%를 사용해야만 가능하며,
              최종 충전금액이 1만원 이상일 경우는 최종 충전금액의 60%를 사용해야만 
              환불이 가능하고, 회사 고객지원센터 또는 매장을 통해 환급을 신청할 수 있습니다.</li>
        <li>‘Bene Card’의 충전금액에 대하여 
            피해보상보험계약 또는 보증보험 등 별도의 지급보증이 되어있지 않습니다. 
            분실 시 홈페이지를 통해 신고하시기 바랍니다.</li>
        <li>‘Bene Card’의 이용과 관련하여 고객 피해 발생 시, 
            회사의 고객지원센터 및 공정거래위원회 소비자상담센터에 연락을 하실 수 있으며, 
            전화번호는 아래와 같습니다.<br>
            - 회사 고객지원센터 : 1688-4666<br>
            - 공정거래위원회 소비자상담센터 : (국번없이) 1372</li>
    </ul>
    
    <h6>제7조 Reward Program 참여</h6>
    <ul class="policy">
        <li>Reward Program에 참여하고자 하는 회원은 본 약관에 동의하고 
            회사가 발급한 ‘Bene Card’를 회사의 모바일 애플리케이션에 등록하거나 
            모바일 애플리케이션에 가입함으로써 참여할 수 있습니다.
            단, 14세 미만인 자는 회원가입이 불가합니다.</li>
        <li>회원은 회원 자격을 타인에게 양도하거나 대여하거나 
            담보의 목적물로 이용할 수 없습니다.</li>
    </ul>
    
    <h6>제8조 회원 탈퇴 및 자격 상실</h6>
    <ul class="policy">
        <li>회원은 언제든지 홈페이지를 통해 회원 탈퇴를 요청할 수 있으며, 
            회사는 회원의 요청에 따라 조속히 회원 탈퇴에 필요한 제반 절차를 수행합니다. 
            (단, 회원이 탈퇴를 요청할 때에는 회사의 홈페이지에 등록된 회원의 모든 카드가 
            등록 해지되는 것을 전제로 합니다.)</li>
        <li>회원이 다음 각 호의 사유에 해당하는 경우, 
            당사는 회원에 대한 통보로써 회원의 자격을 상실시킬 수 있습니다. 
            단, ‘다’의 경우에는 별도의 통보없이 당연히 자격이 상실됩니다.</li>
        <ol type="a">
            <li>카드 등록 시 허위의 내용을 등록한 경우</li>
            <li>서비스를 부정한 방법 또는 목적으로 이용한 경우</li>
            <li>회원이 사망한 경우</li>
            <li>다른 회원의 서비스 이용을 방해하거나 그 정보를 도용하는 경우</li>
            <li>서비스 홈페이지를 이용하여 법령, 본 약관 또는 공서양속에 반하는 행위를 하는 경우</li>
            <li>당사 또는 다른 회원의 명예를 훼손하거나 모욕하는 경우</li>
        </ol>
        <li>개인정보는 회원이 회원가입신청서 작성시 
            카페베네 소식 전달 활용에 동의하신 경우에 
            카페베네 이벤트 및 행사의 소식알림의 목적으로 사용이 되며 
            타인에게 제공하지 아니합니다.</li>
        <li>회원은 자신의 개인정보처리와 관련하여 
            개인정보의 처리에 관한 정보를 제공받을 권리, 
            개인정보에 대하여 열람을 요구할 권리, 
            개인정보의 처리정지, 정정, 삭제 및 파기를 요구할 권리를 갖습니다.</li>
        <li>회원에 대해서 필요한 경우에는 이메일이나 SMS, 우편물, 할인권, 쿠폰 등을 발송할 수 있습니다. 
            기타 caffebene membership 신청 및 개인정보 보호 정책에 대해 궁금한 점이 있으시면 
            아래 담당자에게 문의해 주시기 바랍니다.<br>
            개인정보 관리 담당자 : ㈜카페베네 02-3438-6828(마케팅팀 유소영)</li>
    </ul>
    
    <h6>제9조 카드의 이용 및 관리</h6>
    <ul class="policy">
        <li>회원이 회사 ‘Bene Card’의 적립 ‘베네 머그’에 따른 혜택을 이용하고자 할 경우에는 
            반드시 Bene Card를 제시하는 것을 원칙으로 합니다. 
            단, 여기에서 ‘Bene Card를 제시한다’ 함은 ‘Bene Card’를 회사에 보여주는 행위,
             단말기에 읽히는 행위 등 
             Bene Card를 이용하고자 하는 고객이 회사로부터 적법하게 인정된 회원임을 
             증명하는 행위를 말합니다.</li>
        <li>회원이 서비스를 이용하고자 ‘Bene Card’를 제시할 경우 
            회사는 회원에게 본인 확인을 위한 신분증 제시를 요청할 수 있습니다. 
            이 경우 회원은 회사의 요청을 준수하여야 정상적인 서비스를 제공받을 수 있습니다.</li>
        </ul> 
    
    <h6>제10조 충전</h6>
    <ul class="policy">
        <li>‘Bene Card’의 충전은 회사의 모바일 애플리케이션에 회원가입을 통해 
            ‘Bene Card’가 발행된 후이거나, 매장에서 구입한 ‘Bene Card’를 회사의 모바일 애플리케이션에 등록 후 
            현금 또는 회사가 현금과 동일하게 인정하는 금전적 가치(신용카드 등)로 결제하는 방법 
            (이하 ‘모바일 애플리케이션을 통한 충전’이라고 합니다.)으로 충전할 수 있습니다.</li>
        <li>‘Bene Card’에 충전 할 수 있는 최소 최초충전 금액은 1만원이며, 
            1회 충전 시 1만원 이상의 1만원 단위로 충전할 수 있습니다. 
            다만, 1장의 ‘Bene Card’에 저장된 총 금액은 50만원을 초과할 수 없습니다. 
            아울러 이와 같은 충전 금액기준은 회사의 마케팅 정책에 따라 변경될 수 있습니다.</li>
        <li>‘Bene Card’에 충전된 금액에 대하여는 이자가 발생되지 않습니다.</li>
        <li>다음 각 호에 해당되는 경우 회사는 고객의 충전을 제한할 수 있습니다.</li>
        <ol type="a">
            <li>회사가 아닌, 타 국가의 ‘Bene Card’를 소지한 경우</li>
            <li>기타 충전이 불가능한 기술적, 제도적 사유가 발생한 경우</li>
        </ol>
        <li>‘Bene Card’에 저장된 금액을 다른 회원의 ‘Bene Card’에 저장된 금액과 합산할 수 없습니다. 
            단 고객이 고장카드에 대한 교체신청을 하거나, 회원이 분실신청을 하는 불가피한 사유가 발생한 경우에만 
            회사가 정한 절차에 따라 제한적으로 가능합니다.</li>
    </ul> 
    
    <h6>제11조 환급</h6>
    <ul class="policy">
        <li>고객이 ‘Bene Card’에 충전된 잔액의 환급을 요청하는 때에는 
            회사는 ‘Bene Card’의 상태에 따라 다음 각 호에 명시된 절차에 의거하여 
            환급 처리를 합니다.</li>
        <ol type="a">
            <li>구매하거나 충전한 정상카드의 잔액은 현금으로 반환되지 않습니다. 
                단 고객이 최종 충전된 금액의 잔액 요청 시, 회사는 최종 충전 금액이 1만원 미만일 경우는 
                최종 충전금액의 80%를 사용해야만 가능하며, 최종 충전금액이 1만원 이상일 경우는
                 최종 충전금액의 60%를 사용해야만 환불이 가능합니다.
                - 회사 고객지원센터로 회사의 모바일 애플리케이션을 통해 등록된 정상카드에 대한 잔액 환급을 신청하면, 
                회사 고객지원센터에서 확인 후 고객이 지정한 계좌로 신청일로부터 3주 이내에 잔액을 환급해 드립니다. 
                단, 고객이 본인의 환금 신청 계좌를 잘못 지정하는 경우에는 
                확인 절차 등으로 환급이 다소 지연될 수 있습니다.
                - 매장을 통해 환급을 신청하는 경우 
                회사의 모바일 애플리케이션에 등록되지 않은 무기명 카드는 환급을 신청한 카드소지인에게 현금으로 환급해 드리지만, 
                회사의 모바일 애플리케이션에 ‘Bene Card’를 등록한 회원은 
                반드시 본인이 직접 환급을 신청해야 하며 본인 확인 후 현금으로 환급해 드립니다. 
                이 경우 고객이 환불금액을 수령할 때 한 서명은 
                향후 정상적으로 환불 금액을 수령하였다는 사실을 입증하는 자료로 사용됩니다.
                - 매장 중 ‘Bene Card’의 구매와 사용이 불가능한 국내 카페베네 특수상권 및 일부매장에서는 환급이 불가능합니다. 
                이 경우 인접 매장을 이용하거나 회사 고객지원센터를 통해 환급 신청하실 수 있습니다.</li>
            <li>분실 신고된 ‘Bene Card’는 매장에서 환급해 드리지 않으며, 
                회사 고객지원센터로 회원이 환급을 신청하여야 합니다.
                - 회원은 ‘Bene Card’를 분실 신고를 한 후 해지를 할 수 없습니다.
                - 분실 신고한 카드의 잔액은 모바일 어플리케이션에 등록된 다른 카드로 이체할 수 있습니다.</li>
            <li>고장카드는 매장에 접수하시면 잔액 확인 등의 절차를 거쳐 
                고장카드의 잔액이 충전된 신규 ‘Bene Card’를 발급하여 드리며, 
                신규로 발급 받으신 후에는 고장카드는 사용하실 수 없습니다. 
                단 고객이 고장카드의 잔액을 금전으로 받기 원하는 경우, 
                정상카드 환급 절차와 같이 회사의 모바일 애플리케이션에서 카드를 등록한 후 
                신청하면 고객센터에서 확인하여 고객이 지정한 계좌로 3주 내에 잔액을 송금하여 드립니다.
                라. 고장카드 중 카드 번호의 식별이 불가능한 경우와 
                분실 신고된 카드는 신규 ‘Bene Card’로의 발급 또는 환불이 불가능합니다.</li>
        </ol>
        <li>‘Bene Card’의 발행 목적 또는 
            기술적 사유(시스템 점검, 단말기 고장, 통신회선 불량, 신규 카드 또는 단말기의 안정화 작업 등)로 
            일부 ‘Bene Card’는 환급이 제한될 수 있으며, 
            이 경우 회사는 별도의 환급 절차 및 방법을 
            매장에서 배포하는 안내장 또는 홈페이지 등을 이용하여 고객에게 고지합니다.</li>
        </ul>
    
    <h6>제12조 청약철회 </h6>
    <ul class="policy">
        <li>회사의 모바일 애플리케이션을 통한 충전을 청약한 회원은 
            청약 후 결제가 완료된 날로부터 7일 이내에는 그 청약의 철회를 할 수 있습니다.</li>
        <li>회사는 제1항의 청약철회를 수신한 날부터 
            3영업일 이내에 지급받은 대금을 환급합니다. 
            이 경우 그 환급을 지연하는 때에는 그 지연기간에 대하여 
            전자상거래 등에서의 소비자보호에 관한 법률 시행령이 정하는 
            지연이자율(연100분의24)을 곱하여 산정한 지연이자를 지급합니다.</li>
        <li>회사는 위 대금을 반환함에 있어서 
            회원이 신용카드 또는 전자화폐 등의 결제수단으로 재화 등의 대금을 지급한 때에는
             지체없이 당해 결제수단을 제공한 사업자로 하여금 
             재화 등의 대금의 청구를 정지 또는 취소하도록 요청합니다.</li>
        <li>회사의 시스템에 저장된 가치가 이미 ‘Bene Card’로 이전하여 기록된 경우에는 
            제 12조의 규정에 의하여 환급합니다.</li>
    </ul>
    
    <h6>제13조 ‘베네 머그’ 적립 및 등급별 혜택</h6>
    <ul class="policy">
        <li>상품을 구입한 회원은 회사가 정한 아래와 같은 적립 기준에 따라 
            ‘베네 머그’를 부여 받게 됩니다. 
            ‘Bene Card’로 회사가 정한 기준에 따라 결제 시 
            제조메뉴 1개당 베네 머그 1개가 적립됩니다.</li>
            <ol type="a">
                <li>적립된 유효 베네 머그의 개수에 따라 회원의 등급이 나누어 지며, 
                    등급별로 다른 혜택이 적용됩니다.</li>
                <li>‘Bene Card’의 사용으로 인해 발행된 모든 쿠폰은 
                    회사에서 발급 시 정해진 유효기간 내에서만 사용이 가능합니다.</li>
            </ol>
        
        <li>회원 등급별 혜택 및 유효기간
            적립된 베네 머그의 개수에 따라 등급이 나뉘며, 
            등급별로 다양한 혜택을 제공해 드립니다. 
            각 상위 등급은 하위 등급의 혜택을 포함합니다. 
            단, 각 등급별 혜택은 회사의 마케팅 정책에 따라 달라질 수 있으며, 
            자세한 혜택은 홈페이지에서 확인 가능합니다.</li>
        <li>프리퀀시의 기능 및 혜택
            회사에서 프리퀀시 프로모션이 진행되는 기간 동안 
            회원이 Reward Program에 등록된 ‘Bene Card’로 결제 하는 경우, 
            회원 가입 시 자동으로 발급된 카드계정에 회사에서 정한 적립 기준에 따라 
            ‘프리퀀시-베네 머그’가 적립됩니다. 
            아울러 ‘Bene Card’의 구체적인 운영방침이나 활용방법 및 혜택은 
            회사의 마케팅 정책에 따라 변할 수 있으며, 
            이에 대해서는 별도의 방법으로 사전에 안내해 드립니다.</li>
    </ul> 
    
    <h6>제14조 ‘베네 머그’의 유효기간 및 소멸</h6>
    <ul class="policy">
        <li>‘베네 머그’의 유효기간은 적립 일로부터 등급 선정일 전일이며, 
            최상위 등급이 되면 ‘베네 머그’의 유효기간은 등급 선정일로부터 1년이 됩니다.</li>
        <li>‘Bene Card’로 결제 시 적립된 ‘베네 머그’는 해당 결제를 최소하실 경우 
            적립이 취소됩니다.</li>
    </ul> 
    
    <h6>제15조 고객의 의무</h6>
    <ul class="policy">
        <li>고객은 이 약관에서 규정하는 사항과 이용안내 또는 공지사항 등을 통하여 
            회사가 제공하는 사항을 준수하여야 하며, 
            기타 회사의 업무에 방해되는 행위를 하여서는 안됩니다.</li>
        <li>회원은 회사가 제공한 ‘베네 머그’를 이용하여 영업활동을 할 수 없습니다.</li>
        <li>회원은 적립한 ‘베네 머그’를 다른 회원에게 재판매 할 수 없으며, 
            위반 시에는 제공받았던 혜택을 반환하여야 합니다.</li>
        </ul> 
    
    <h6>제16조 휴면계정 관리</h6>
    <ul class="policy">
        <li>회사는 회원이 회사의 모바일 애플리케이션 또는 홈페이지에 12개월 이상 로그인 하지 않고 
            계정에 등록된 ‘Bene Card’로 12개월 이상 거래내역(최초 충전, 재충전, 결제 등 모든 거래 포함)이 없는 경우, 
            휴면계정으로 간주하고 회사가 제공하는 서비스 이용을 
            아래와 같이 제한/상실 시킬 수 있습니다.</li>
        <li>휴면계정으로 별도 관리된 후 모바일 애플리케이션과 홈페이지 이용이 중단되고, 
            이후 다시 이용하시려면 인증 절차를 다시 거쳐야 합니다. 
            또한 휴면계정으로 별도 관리되는 경우 등급이 선정되지 않습니다.</li>
    </ul>
    
    <h6>제17조 회원탈퇴와 ‘베네 머그’의 소멸 처리</h6>
    <ul class="policy">
        <li>본 약관 제8조 제1항에 정해진 방법으로 회원 탈퇴 시 
            회원 탈퇴 요청일 현재까지 적립된 ‘베네 머그’는 자동으로 소멸되며, 
            재가입시 소멸된 ‘베네 머그’는 복원되지 않습니다.</li>
        <li>본 약관 제8조 제2항에 따라 회원 자격이 상실된 경우, 
            자격 상실일 현재까지 적립된 ‘베네 머그’는 자동으로 소멸됩니다.</li>
    </ul> 
    
    <h6>제18조 거래지시의 철회</h6>
    고객이 ‘Bene Card’로 서비스를 제공받거나 제품 또는 상품을 구매하고 
    ‘Bene Card’의 잔액이 차감되어 거래내역이 기록된 후에는 
    그 거래가 발생한 날의 7일 이내에 영수증 등 구매사실을 소명할 수 있는 자료를 첨부하여 환불을 요구하는 경우, 
    거래를 취소하거나, ‘Bene Card’에 재충전 또는 고객의 요청에 따라 현금으로 환불해 드립니다. 
    또한 프로모션 기간 내 지급된 쿠폰, 또는 판촉물 등을 증정 받으신 경우 
    이를 반드시 함께 반환하셔야만 거래지시의 철회가 가능합니다.
    
    <h5>[제3장 거래내역 정보]</h5>
    <h6>제19조 거래내역의 수집</h6>
    <ul class="policy">
        <li>회사는 고객이 ‘Bene Card’를 통해 서비스 이용 및 제품 또는 상품 구매 시 
            필요한 최소한의 거래내역 정보(카드 번호, 거래 일시, 거래 상품, 거래 금액, 단말기 및 매장 정보 등)를 수집합니다.</li>
        <li>고객의 계속적인 ‘Bene Card’사용은 
            ‘Bene Card’를 통해 수집된 거래내역 정보가 이용대금 정산의 목적 및 회사의 마케팅 활용의 목적에 
            사용되는 것에 대하여 동의한 것으로 간주합니다.</li>
    </ul> 
    
    <h6>제20조 거래내역의 제공</h6>
    <ul class="policy">
        <li>회원은 회사의 모바일 애플리케이션과 홈페이지를 통해 
            거래 내역을 확인할 수 있습니다.</li>
        <li>회사는 관련법령에 의거하여 회원과의 거래내역을 거래가 발생한 날로부터 
            최대 5년간 보관하며, 해당 기간 동안 회원은 회사가 제공하는 회사의 모바일 애플리케이션 및 홈페이지를 통하여 
            최근 1년 간의 거래 내역을 열람 및 확인할 수 있습니다.</li>
        <li>고객이 거래내역을 서면으로 받고자 하는 경우, 
            ‘Bene Card’를 소지한 본인임을 확인하기 위해 필요한 자료
            (‘Bene Card’ 사본, 신분증 사본 등 회사가 요청하는 자료)를 거래내역 신청서와 함께 
            팩스 또는 우편으로 회사에 송부하여야 하며, 
            회사는 ‘Bene Card’ 소지자 본인임이 확인되는 경우에 한하여 
            요청을 받은 날로부터 2주 이내에 해당 정보를 고객이 요청한 수령지로 
            팩스 또는 우편을 이용하여 제공합니다.<br>
            - 우편주소: 서울시 성동구 상원1길25, 8층 카페베네 고객지원센터<br>
            - 문의전화 : 1688-4666<br>
            고객이 본 조에 의거 거래내역을 제공받기 위하여 
            회사에 제공한 수령지 정보가 부정확하거나 오류인 관계로 발생된 
            고객의 해당정보 누출 또는 고객의 손해에 대하여 회사는 책임을 지지 않습니다.</li>
    </ul> 
    
    <h6>제21조 거래내역의 정정</h6>
    <ul class="policy">
        <li>고객은 본인이 이용한 거래와 관련된 오류를 발견하는 경우 
            소명할 수 있는 자료를 갖추고 회사가 정한 절차를 거쳐, 
            해당 거래에 대한 정정을 요청할 수 있습니다.</li>
        <li>회사는 본 조 제1항에 의해 고객의 정정 요청을 받은 날로부터 
            2주 이내에 해당 거래내역을 검토하고 고객에게 그 결과를 통보하여 드립니다.</li>
    </ul> 
    
    <h5>[제4장 개인정보 보호]</h5>
    <h6>제22조 개인 정보 보호</h6>
    <ul class="policy">
        <li>회사는 고객의 정보 수집 시 정상적인 서비스를 위한 최소한의 정보를 수집하며,
            고객의 개인식별이 가능한 개인정보를 수집하는 때에는 
            반드시 해당 고객의 동의를 받습니다.</li>
        <li>회사는 양질의 서비스를 제공하기 위해 여러 비즈니스 파트너와 제휴를 맺거나 
            국가 기관의 요구 등을 위해 개인정보를 위탁관리 하거나 
            개인정보를 제공할 수 있습니다. 
            그럴 경우 회사는 홈페이지를 통하여 해당 목적, 내용 및 업체 명을 밝혀 
            고객의 동의를 받습니다. 
            단 고객의 소득공제 목적으로 국세청에 개인정보 및 Bene Card 사용내역을 제공하는 경우 등과 같이 
            고객의 요청에 의하는 경우는 예외로 합니다.</li>
        <li>고객이 제공한 개인정보는 고객의 동의 없이 제3자에게 누설하거나 제공하지 않습니다. 
            다만, 다음 각 호에 해당하는 경우에는 예외로 합니다.</li>
            <ol type="a">
                <li> 배송을 위해 배송담당 업체 등에게 배송에 필요한 최소한의 고객 정보를 알려주는 경우</li>
                <li>통계 작성, 학술 연구 또는 시장 조사를 위해 특정 개인을 식별할 수 없는 형태로 제공하는 경우</li>
                <li>관계 법령에 의하여 수사상의 목적으로 관계 기관으로부터 요구 받은 경우</li>
                <li>서비스의 이용에 따른 거래상 발생하는 요금정산</li>
                <li>서비스의 제공에 필요한 범위 내에서 제휴 회사와 공유해야 하는 경우</li>
                <li>기타 관계 법령에 의한 경우</li>
            </ol>
        <li>고객은 자신의 개인정보처리와 관련하여 개인정보의 처리에 관한 정보를 제공받을 권리, 
            개인정보에 대하여 열람을 요구할 권리, 
            개인정보의 처리정지, 정정, 삭제 및 파기를 요구할 권리를 갖습니다.</li>
        <li>회사 또는 회사로부터 개인정보를 제공받은 제3자는 
            개인정보의 수집목적 또는 제공받은 목적을 달성한 때에는 
            당해 개인정보를 지체없이 파기하여야 합니다.</li>
    </ul>
    
    <h5>[제5장 기타]</h5>
    <h6>제23조 책임 소재</h6>
    <ul class="policy">
        <li></li>
        <li></li>
        <li>회사는 고객이 ‘Bene Card’ 서비스 이용 중 발생한 손해에 대하여 
            배상 할 책임을 집니다. 
            단, 본 약관에 별도 명시된 경우 및 다음 각 호의 사유에 해당하는 경우는 제외합니다.</li>
            <ol type="a">
                <li>‘Bene Card’를 회사가 Bene Card 후면 또는 단말기를 통해 
                    안내하거나 규정하는 방법 이외의 방법으로 거래 행위를 한 경우
                    (단, 여기에서 ‘거래 행위’라 함은 카드 번호를 입력하는 행위, 
                    카드를 단말기에 접촉하는 행위 등 고객이 ‘Bene Card’ 서비스를 이용하기 위해 
                    ‘Bene Card’를 이용하는 행위를 말합니다)</li>
                <li>‘Bene Card’를 회사가 지정하지 아니한 방법으로 
                    불법 거래 또는 부정 사용한 경우</li>
                <li> ‘Bene Card’를 변형하거나 원형을 훼손하여 사용한 경우</li>
                <li>‘Bene Card’를 도난 당하거나 분실한 경우</li>
                <li>제3자가 권한 없이 고객의 ‘Bene Card’를 이용할 수 있음을 알았거나 
                    쉽게 알 수 있었음에도 불구하고 고객이 자신의 ‘Bene Card’ 정보
                    (카드번호 및 PIN 번호 포함)를 누설 또는 노출하거나 방치한 경우</li>
            </ol>
        <li>고객이 본 조 제1항에서 규정한 행위를 하여 회사에 손해가 발생하는 경우, 
            그 고객은 회사의 손해에 대하여 배상할 책임을 집니다.</li>
    </ul>
    
    <h6>제24조 지급 보증 등</h6>
    ‘Bene Card’는 충전금액에 대하여 피해보상보험계약 또는 보증보험 등 
    별도의 지급보증이 되어있지 않습니다
    
    <h6>제25조 분쟁 해결</h6>
    <ul class="policy">
        <li>회사는 고객에게 손해가 발생하거나 회사와 고객간 분쟁이 발생하는 경우 
            손해 배상 등 분쟁처리를 위해 고객상담센터를 설치, 운영합니다.</li>
        <li>회사는 고객으로부터 제출되는 불만사항 및 의견은 
            15일 이내에 그 사항을 처리합니다. 
            다만, 신속한 처리가 곤란한 경우에는 고객에게 그 사유와 처리일정을 즉시 통보합니다.</li>
        <li>회사와 고객간에 발생한 분쟁이 원만히 해결되지 않는 경우, 
            관련 법령에 따라 ‘소비자보호법’에 따른 한국소비자원의 소비자분쟁조정위원회를 통해 조정신청이 가능합니다.</li>
    </ul>
    
    <h6>제26조 관할 법원</h6>
    ‘Bene Card’서비스 및 본 약관과 관련한 제반 분쟁 및 소송은 
    회사의 본점 소재지를 관할하는 법원 또는 민사소송법상의 관할 법원을 
    제1심 관할 법원으로 합니다.<br><br>
    
    <부칙>
    본 이용약관은 2020년 6월 일부터 시행합니다
</div>


<footer id="footer" class="footer"></footer>

</body>
</html>