main{
    width: 1920px;
    padding-bottom: 120px;
}
.banner {
  width: 1920px;
  background-color: #00a5b1;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h2 {
  color: white;
  font-size: 2em;
}

/* article */
.container{
    width: 1190px;
    margin: 0 auto;
}

.container .subTitle{
    display: flex;
    width: 1190px;
    padding-top: 30px;
}

.container .subTitle h3{
    font-size: 22px;
    font-weight: 500;
    color: #3a466a;
    line-height: 1.1;
    width: 70%;
}

.container .subTitle form{
    display: flex;
}

/* select */
.container .subTitle form .selectSearch{
    width: 100px;
    height: 38px;
    padding: 10px 32px 10px 10px;
    border: 1px solid #e2e2e2;
    font-size: 14px;
    color: #222;
    background: #ffffff url('/assets/images/contents/ico-sel-arr.png') 100% 50% no-repeat;
    appearance: none;
    box-sizing: border-box;
    margin-right: 10px;
}

.container .subTitle form .inputBox{
    box-sizing: border-box;
    display: flex;
    width: 260px;
    border: 1px solid #e2e2e2;
}

.container .subTitle form .inputBox input[type=text] {
    border: 0;
    width: 220px;
    height: 36px;
}

.container .subTitle form .searchBtn{
    width: 36px;
    height: 36px;
    background: url('/assets/images/contents/ico-ipt-sh.png') no-repeat 50% 50%;
    font-size: 0;
    border: 0;
}

select:focus, input:focus, button:focus{
    outline: 1px dotted black;
}

/* page tab */
.pageTabs{
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 30px;
}

.pageTabs ul{
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 100%;
}

.pageTabs ul li{
    width: calc(100%/5);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pageTabs ul li a{
    padding:30px;
    font-weight: 500;
    font-size: 1.2rem;
    color: #444;
    text-align: center;
    width: 100%;

}

.pageTabs ul li.checkedPage{
    color: #3a466a;
    border-bottom: 4px solid #3a466a;
}

/* 메뉴 컨텐츠 */
.container .pageList .pageListUlTag li{
    display: inline-block;

    width: 24.5%;

    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px;

    box-shadow: 0 0 3px #00000030;

    overflow: hidden;

    transition: 0.5s;
    transform: scale(0);

    cursor: pointer;
}
.container .pageList .pageListUlTag li.active{
    transform: scale(1);
}

.container .pageList .pageListUlTag li .pageItemWrap img{

    display: block;

    width: 100%;
    height: 250px;

    margin: 0 auto;
}

.container .pageList .pageListUlTag li .pageItemWrap .tab,
.container .pageList .pageListUlTag li .pageItemWrap .title{
    padding: 10px;
    margin: 0 auto;

}