@font-face{
    font-family: 'MICEGothic';
    src:
        url("MICEGothicRegular/WebFonts/MICEGothic.woff") format('woff'),
        url("MICEGothicRegular/WebFonts/MICEGothic.woff2") format('woff2');
    }
    body{
        font-family:'MICEGothic';
        display:flex;
        justify-content: center;
        align-items: center;
        height:100vh;
        margin:0 auto;
        }/*position을 absolute로 두면 뭘 해도 가운데로 안 온다.*/
    h3{
        font-size:24px;
        font-weight:bold;
        color:rgb(65, 65, 109);}
    p{font-size:10px; color:gray;}
    #bodyForm, #form{
        width:640px;
        text-align: center;}
    table{
        text-align: left;
        font-size:13px;
        font-weight:bold;
        width:640px;
        border-bottom:1px solid black;
        border-top:1px solid black;}
    td{
        padding:10px; 
        border-bottom:1px solid lightgray; 
        border-left:none;}
    select{
        cursor:pointer;
        background-color: rgb(240, 240, 240);
        width:120px;
        height:30px;
        border:0px;
    }
    input{
        font-size:15px;
        background-color: rgb(240, 240, 240);
        height:30px;
        border:0px;}
    input[type=text], textarea{
        width:400px;
        background-color: rgb(240, 240, 240);
        border:0px;}
    input[type=email]{
        width:120px;
    }
    input[type=password]{
        width:6em;
        display:flex;
        margin-right:3px;
    }
    label{position:relative;}
    #BtnCover{
        position:absolute;
        display:flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 30px;
        left:400px;
        letter-spacing: 3px;
        color:white;
        background-color: gray;
        z-index: 90;
    }
    #fileBtn{
        position:absolute;
        width:100px;
        height:30px;
        left:400px;
    }
    #fileName{
        display:flex;
        align-items: center;
        position:absolute;
        width:400px;
        height:30px;
        background-color: rgb(240, 240, 240);
    }
    #sixcode{display:flex;}
    #sixNum{
        font-size:15px;
        letter-spacing:2px;
        display:flex;
        justify-content: center;
        align-items: center;
        width:6em;
        height:30px;
        margin-right:10px;
        text-align: center;
        background-color: gray; 
        color:white; 
        }
    #submitBtn{
        cursor:pointer;
        color:white;
        width:300px;
        height:60px;
        font-size:24px; 
        background-color: rgb(65, 65, 109);
        }