.swiper-wrapper {
    width: 300vw; 
    transition: transform 0.5s;
}

.swiper-slide {
    width: 100vw; 

    float: left;
}

.swiper-slide img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: auto;
}
