.subTopHeader {
  width: 100%;
  background-color: #00a5b1;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subTopHeader h2 {
  color: white;
  font-size: 2em;
}

.subContetContainer {
  width: 1190px;
  height: 100vh;
  margin: 0 auto;
}

.subTitle1 {
  display: flex;
  margin-bottom: 40px;
  padding: 30px 0 20px;
  border-bottom: 1px solid #444;
}

.subTitle1 h3 {
  color: #3a466a;
  font-size: 1.5em;
  font-weight: 1000;
}

.subContent1 {
  position: relative;
  height: 500px;
}

.subContent1 :before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 900px;
  height: 600px;
  background: #f2f2f2;
  z-index: -1;
}

.subContent1 :after {
    content: '';
    position: absolute;
    top: 130px;
    right: 0;
    width: 400px;
    height: 500px;
    background: #3a466a;
    z-index: -2;
}

.txts {
  padding: 50px 0 0 50px;
  font-size: 1em;
  color: #3a466a;
  font-weight: 700;
}

.txts p {
  padding-bottom: 30px;
}

.b2b-c1Img {
  position: absolute;
  top: 147px;
  left: 0;
  z-index: 1;
}

/* #00A5B1
#3a466a
#f2f2f2 */
