<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="footer.css">
    </head>

    <body>
        <img id="goUp" onclick="goUp()" src="/assets/images/header_footer/gotoheader.png" />
        <hr style="border: 2px solid black" />
        <div class="footerMembersWrap">
            <div class="footerMembers">
                <div id="footInfo">
                    <ul id="companyInfo">
                        <li>경기도 양주시 백석읍 권율로1203번길 8-13, 2층</li>
                        <li>대표이사박그레타</li>
                        <li>사업자등록번호206-86-29161</li>
                        <li>e-mail: benecs@caffebene.co.kr</li>
                        <li>
                            <span id="copyright"> Copyright© by Caffebene, All rights reserved.</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footerMembers">
                <a href="http://www.caffebene.co.kr/"><img id="logoTwo"
                        src="/assets/images/header_footer/caffebeneLogoBottom.png" /></a>
            </div>
            <div class="footerMembers">
                <ul id="footFive">
                    <a href="/src/view/footerPlus/comeHere/comeHere.html">
                        <li>오시는 길</li>
                    </a>
                    <a href="/src/view/footerPlus/coopAsk/coopAsk.html">
                        <li>제휴문의</li>
                    </a>
                    <a href="/src/view/footerPlus/privacyPolicy/privacyPolicy.html">
                        <li>개인정보처리방침</li>
                    </a>
                    <a href="/src/view/footerPlus/userPolicyBenecard/userPolicyBenecard.html">
                        <li>이용약관</li>
                    </a>
                    <li><span id="forCustomerService">고객센터1688-4666</span></li>
                </ul>
            </div>
        </div>
        <div class="snsWrap">
            <div id="sns">
                <div class="hyperlink">
                    <a href="https://www.instagram.com/caffebene_official/">
                        <img src="/assets/images/header_footer/caffebeneinsta.png" /></a>
                </div>
                <div class="hyperlink">
                    <a href="https://blog.naver.com/caffebene-official">
                        <img src="/assets/images/header_footer/caffebeneblog.png" /></a>
                </div>
                <br />
                <div class="hyperlink">
                    <a href="https://www.facebook.com/caffebene">
                        <img src="/assets/images/header_footer/caffebenefacebook.png" /></a>
                </div>
                <div class="hyperlink">
                    <a href="https://www.youtube.com/channel/UCQ7MW5IpWOL9LwQqr_AWQ9A/featured">
                        <img src="/assets/images/header_footer/caffebeneyoutube.png" /></a>
                </div>
            </div>
        </div>
    </body>

</html>