html {
  scroll-behavior: smooth;
}

.footerMembersWrap{
  width: 1920px;
  display: flex;
  flex-direction: row;
}

.footerMembers {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}


footer {
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  background-color: white;
  font-weight: bold;
  width: 1920px;
}
a {
  text-decoration: none;
}
#goUp {
  /*여기야!*/
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid lightseagreen;
  display: none;
  position: fixed;
  right: 20px;
  bottom: 100px;
}
hr {
  display: block;
  top: 20px;
}
#footFive li {
  list-style-type: none;
  text-align: right;
  color: midnightblue;
  padding: 10px;
  width: 320px;
}
#companyInfo li {
  list-style-type: none;
  text-align: left;
  padding-bottom: 10px;
}
#logoTwo {
  text-align: center;
  margin-right: 20px;
}
#forCustomerService {
  color: #00a090;
  font-weight: bold;
}
#footInfo {
  width: 700;
  height: 100;
  font-size: 12px;
  padding: 10px;
}
#copyright {
  color: lightgray;
}
.hyperlink {
  display: inline-block;
  margin: 5px;
  width: 32px;
  height: 38px;
}
.snsWrap{
  width: 1920px;
}
#sns {
  margin: 0 auto;
  text-align: center;
}
