/* banner */
main{
  width: 1920px;
}

.banner {
  width: 1920px;
  background-color: #00a5b1;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h2 {
  color: white;
  font-size: 2em;
}

.subContentContainer {
  width: 1190px;
  margin: 0 auto;
  padding-bottom: 120px;
}

.subContentContainer .subTitle {
  display: flex;
  margin-bottom: 40px;
  padding: 30px 0 20px;
  border-bottom: 1px solid #444;
}

.subContentContainer .subTitle h3 {
  color: #3a466a;
  font-size: 1.5em;
  font-weight: 1000;
}

/* 개설절차 */
.openingProcedure {
  background: url("/assets/images/processes/pg-bg-line.png") no-repeat 50% 70px;
}

.openingProcedure .ProcedureLine {
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
}

.openingProcedure .ProcedureLine.ProcedureLine1 {
  margin-bottom: 85px;
}

.openingProcedure .ProcedureLine.ProcedureLine2 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 105px;
}

.openingProcedure .ProcedureLine .lines {
  width: 30%;
  text-align: center;
}

.openingProcedure .ProcedureLine .cir {
  box-sizing: border-box;
  border: 3px solid #3a466a;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding-top: 3px;

  font-size: 2em;
  margin: auto;
  color: #444;

  position: relative;
}

.openingProcedure .ProcedureLine:not(.ProcedureLine2) .cir::before {
  position: absolute;
  content: url("/assets/images/processes/cir-arr.png");
  width: 30px;
  height: 30px;
  object-fit: cover;
  top: 50%;
  left: 150%;
  transform: translate(100%, -45%);
}

.openingProcedure .ProcedureLine.ProcedureLine2 .cir::before {
  position: absolute;
  content: url("/assets/images/processes/cir-arr.png");
  width: 30px;
  height: 30px;
  object-fit: cover;
  top: 57%;
  left: -128%;
  transform: translate(150%, -45%) rotate(180deg);
}

.openingProcedure .ProcedureLine .cir1 {
  background-image: url("/assets/images/processes/pg-ico1.png");
  background-color: #3a466a;
  color: #fff;
}
.openingProcedure .cir2 {
  background-image: url("/assets/images/processes/pg-ico2.png");
}
.openingProcedure .cir3 {
  background-image: url("/assets/images/processes/pg-ico3.png");
}
.openingProcedure .cir4 {
  background-image: url("/assets/images/processes/pg-ico4.png");
}
.openingProcedure .cir5 {
  background-image: url("/assets/images/processes/pg-ico5.png");
}
.openingProcedure .cir6 {
  background-image: url("/assets/images/processes/pg-ico6.png");
}
.openingProcedure .cir7 {
  background-image: url("/assets/images/processes/pg-ico7.png");
}
.openingProcedure .cir8 {
  background-image: url("/assets/images/processes/pg-ico8.png");
}
.openingProcedure .ProcedureLine .cir9 {
  background-image: url("/assets/images/processes/pg-ico9.png");
  color: #fff;
  background-color: #00a5b1;
  border: #00a5b1;
}

.openingProcedure .ProcedureLine.ProcedureLine1 .cir.cir3::before{
  top: 180%;
  left: 133%;
  transform: translate(100%, -45%) rotate(90deg);
}

.openingProcedure .ProcedureLine.ProcedureLine2 .cir.cir6::before{
  top: 190%;
  left: -98%;
  transform: translate(150%, -45%) rotate(90deg);
}

.openingProcedure .ProcedureLine .cir.cir9::before{
  content: none;
  
}

.openingProcedure .ProcedureLine .cir span {
  padding-top: 10px;
}

.openingProcedure .ProcedureLine div div h4 {
  font-size: 1.5rem;
  margin: 20px 0;
}

.openingProcedure .ProcedureLine div div div p {
  line-height: 20px;
}

.openingProcedure .ProcedureLine div div p::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  margin-right: 3px;
  background: #707070;
  vertical-align: middle;
}

/* 가맹점 창업 조건 */
.startUpCondition::before {
  display: inline-block;
  content: "";
  transform: rotate(-60deg);
  width: 28px;
  border-radius: 3px;
  border: solid #3a466a;
  background-color: #3a466a;
}

.condiTionTable {
  border-top: 2px solid #444;
}

.condiTionTable table {
  width: 100%;
  border-bottom: 1px solid #444;
  text-align: center;
}

.condiTionTable table th,
.condiTionTable table td {
  padding: 10px;
}

.condiTionTable table thead th {
  border-bottom: 1px solid #b7b7b7;
  font-size: 1.3em;
  width: 40%;
}

.condiTionTable table tbody th {
  border-top: 1px solid #f0f0f0;
  width: 60%;
  color: #3a466a;
}

.condiTionTable table tbody td {
  border-top: 1px solid #f0f0f0;
}

/* 가맹 비용 */
.reference {
  margin-bottom: 10px;
  font-size: 14px;
  color: #00a5b1;
  text-align: right;
}

.affiliateCost {
  border-top: 2px solid #444;
}
.affiliateCost table {
  width: 100%;
  border-bottom: 1px solid #444;
  text-align: center;
}

.affiliateCost table th,
.affiliateCost table td {
  padding: 10px;
}

.affiliateCost table thead th {
  border-bottom: 1px solid #b7b7b7;
  font-size: 1.3em;
}

.affiliateCost table tbody th {
  color: #3a466a;
  border-top: 1px solid #f0f0f0;
}

.affiliateCost table td {
  border-top: 1px solid #f0f0f0;
}

.affiliateCost tfoot td {
  background: #f5f5f5;
  font-size: 18px;
  border-top: 1px solid #444;
  color: #3a466a;
  font-weight: 500;
}

/* 가맹 문의 보고 */

.notice p {
  font-size: 1.1em;
  color: #00a5b1;
  margin: 30px 0 30px 0;
}
/* 버튼 */

.btn {
  text-align: center;
}

.btn a {
  width: 300px;
  background: #00a5b1;
  color: #fff;
  min-width: 200px;
  height: 50px;
  padding: 15px 20px;
  font-size: 1.2em;
  text-decoration: none;
}

.btn a:visited {
  text-decoration: none;
}
