@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.header {
    height: 123px;
    /* width: 1920px; */
}

.menu_select {
    text-align: center;
    border-bottom: 0.5px solid lightgray;
}

.menu_types {
    width: 200px;
    /* height: 50px; */
    display: inline-block;
    margin-bottom: 15px;
}

.menu_selector {
    text-decoration: none;
    color: black;
    font-family: 'MICEGothic Bold';
    font-size: 15px;
}

input[type="radio"] {
    -webkit-appearance: none; /* 웹킷 브라우저에서 기본 스타일을 제거 */
    -moz-appearance: none; /* 모질라 브라우저에서 기본 스타일을 제거 */
    appearance: none; /* 표준 방식의 기본 스타일 제거 */
    width: 20px; /* 가로 길이 조절 */
    height: 20px; /* 세로 길이 조절 */
    border: 2px solid #999; /* 테두리 스타일 */
    border-radius: 3px; /* 테두리의 모서리를 둥글게 */
    outline: none; /* 포커스 시 테두리 제거 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경하여 사용자에게 클릭 가능함을 알림 */
}

/* 선택된 라디오 버튼의 스타일 */
input[type="radio"]:checked {
    border-color: #3a466a; /* 선택된 상태일 때의 테두리 색상 변경 */
    background-color: #3a466a;
}

label {
    position: relative;
    top: -4px; /* 조정할 값 설정 */
}

#select_coffee {
    width: 600px;
    text-align: center;
    font-family: 'MICEGothic Bold';
    border: 1px solid lightgray;
    margin: 40px auto;
    padding: 15px 0px;
}


#menu {
    display: flex;
    flex-wrap: wrap;
    /* padding: 100px; */
    /* margin: 0 auto; */
    margin-left: 300px;
    margin-right: 300px;
    justify-content: center;
    /* flex-wrap: wrap; */
    border-top: black 1px solid;
}

.menu_items {
    text-align: center;
    background-color: beige;
    /* background-color: rgb(235, 235, 235); */
    margin: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 260px;


    position: relative;
    display: inline-block;

    /* box-sizing: border-box; */
}

.menu_items_empty {
    text-align: center;
    margin: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 260px;
}

.menu_items img {
    width: 200px;
}

.menu_items span {
    font-family: 'MICEGothic Bold';
}

#menu_top {
    background-color: #00A5B1;
    height: 200px; 
}

#menu_top p {
    font-family: 'MICEGothic Bold';
    text-align: center;
    color: white;
}

#top_text {
    padding-top: 70px;
    font-size: 30px;
}

#bottom_text {
    padding-top: 20px;
    font-size: 18px;
    /* font-weight: 100; */
}



.info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-family: 'MICEGothic Bold';
    height: 100%;
}


.menu_title {
    font-size: 20px;
}

.menu_text {
    font-size: 15px;
    text-align: left;
    line-height: 1.2;
}

.menu_price {
    text-align: right;
}

/* #menu_warning {
    text-align: right;
} */