@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body::-webkit-scrollbar {
    display: none;
}

.header {
    height: 123px;
    /* width: 1920px; */
}

#menu_top {
    background-color: #00A5B1;
    /* opacity: 0.9; */
    height: 200px; 
}

#menu_top p {
    font-family: 'MICEGothic Bold';
    text-align: center;
    color: white;
}

#top_text {
    padding-top: 70px;
    font-size: 30px;
}

#bottom_text {
    padding-top: 20px;
    font-size: 18px;
    /* font-weight: 100; */
}

.menu_select {
    text-align: center;
    border-bottom: 0.5px solid lightgray;
}

.menu_types {
    height: 47px;
}

.menu_selector {
    text-decoration: none;
    color: black;
    font-family: 'MICEGothic Bold';
    font-size: 15px;
}

.menu_types {
    width: 200px;
    /* height: 50px; */
    display: inline-block;
    margin-bottom: 15px;
}

#select_food {
    width: 800px;
    text-align: center;
    font-family: 'MICEGothic Bold';
    border: 1px solid lightgray;
    margin: 40px auto;
    padding: 15px 0px;
}

input[type="radio"] {
    -webkit-appearance: none; /* 웹킷 브라우저에서 기본 스타일을 제거 */
    -moz-appearance: none; /* 모질라 브라우저에서 기본 스타일을 제거 */
    appearance: none; /* 표준 방식의 기본 스타일 제거 */
    width: 20px; /* 가로 길이 조절 */
    height: 20px; /* 세로 길이 조절 */
    border: 2px solid #999; /* 테두리 스타일 */
    border-radius: 3px; /* 테두리의 모서리를 둥글게 */
    outline: none; /* 포커스 시 테두리 제거 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경하여 사용자에게 클릭 가능함을 알림 */
}

/* 선택된 라디오 버튼의 스타일 */
input[type="radio"]:checked {
    border-color: #3a466a; /* 선택된 상태일 때의 테두리 색상 변경 */
    background-color: #3a466a;
}

label {
    position: relative;
    top: -5px; /* 조정할 값 설정 */
    margin: 0 10px
}



#menu {
    width: 1400px; 
    display: flex;
    flex-wrap: wrap;
    /* padding: 100px; */
    /* margin: 0 auto; */
    margin-left: 300px;
    margin-right: 300px;
    justify-content: center;
    /* flex-wrap: wrap; */
    border-top: black 1px solid;
}



.menu_items {
    text-align: center;
    background-color: beige;
    /* background-color: rgb(235, 235, 235); */
    margin: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 260px;
    height: 300px;
    position: relative;
    display: inline-block;

    /* box-sizing: border-box; */
}

.menu_items:hover {
    cursor: pointer;
    border: 1px solid black;
}

.menu_items img {
    width: 200px;
}

.menu_items span {
    font-family: 'MICEGothic Bold';
}

.menu_items_empty {
    text-align: center;
    margin: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 260px;
}

.info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-family: 'MICEGothic Bold';
    height: 100%;
}

.menu_nutrient {
    position: absolute;
    display: inline-block;
    /* border: 2px solid; */
    cursor: pointer;
    font-size: 12px;
    /* margin-top:55px; */
    padding: 10px;
    width: 110px;
    left: 120px;
    top: 20px;
}

.menu_nutrient:hover {
    font-size: 12.5px;
}

.nutrient {
    position: relative;
    height: 40%;
    text-align: right !important;
}

.nutrient_info {
    display: flex;
    justify-content: center;
    font-family: 'MICEGothic Bold';
    position: absolute; /* 절대 위치 지정 */
    top: 0; /* 부모 요소 상단에 위치하도록 지정 */
    left: 0; /* 부모 요소 왼쪽에 위치하도록 지정 */
    background-color: white; /* 배경색을 흰색으로 지정 */
    padding: 10px;
    /* border: 1px solid black; */
    z-index: 1; /* 다른 요소들 위에 나타나도록 z-index 지정 */
    height: 100%;
    width: 100%;
}

table {
    border-collapse: collapse; /* 테이블 셀 경계를 병합하여 경계를 없앰 */
}

/* .nutrient_info table tr td:first-child {
    text-align: left;
    font-weight: bold;
} */

tr th {
    padding: 20px;
}

td, th {
    padding: 5px; /* 위 아래로 10px의 간격을 설정 */
}

th {
    font-size: 20px;
}

td {
    font-size: 12px;
    vertical-align: middle;
}


.menu_title {
    /* border: 1px solid; */
    height: 60px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_text {
    /* border: 1px solid; */
    height: 75px;
    font-size: 15px;
    text-align: left;
    line-height: 1.2;
}

.menu_price {
    text-align: right;
}

/* #menu_warning {
    text-align: right;
} */