@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.header {
    height: 123px;
    width: 1920px; /* 고정된 폭 */
}

#menu_top {
    background-color: #00A5B1;
    height: 200px; 
}

#menu_top p {
    font-family: 'MICEGothic Bold';
    text-align: center;
    color: white;
}

#top_text {
    padding-top: 70px;
    font-size: 30px;
}

#bottom_text {
    padding-top: 20px;
    font-size: 18px;
}

.menu_select {
    text-align: center;
    border-bottom: 0.5px solid lightgray;
    /* margin-bottom: 30px; */
}

.menu_selector {
    text-decoration: none;
    color: black;
    font-family: 'MICEGothic Bold';
    font-size: 15px;
}

.menu_types {
    width: 200px;
    display: inline-block;
    margin-bottom: 15px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto; /* 가운데 정렬 */
    width: 1400px; /* 고정된 폭 */
    /* border-top: black 1px solid; */
}

.menu_items {
    text-align: center;
    background-color: beige;
    margin: 30px;
    padding: 40px;
    width: 260px;
    height: 300px; /* 높이 설정 */
    position: relative; /* 상대 위치 설정 */
}

.menu_items img {
    width: 200px;
}

.menu_items span {
    font-family: 'MICEGothic Bold';
}

.menu_items_empty {
    text-align: center;
    margin: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 260px;
}

.info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-family: 'MICEGothic Bold';
    height: 100%;
}

.menu_title {
    font-size: 20px;
}

.menu_text {
    font-size: 15px;
    text-align: left;
    line-height: 1.2;
}

.menu_price {
    text-align: right;
}



