@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body::-webkit-scrollbar {
    display: none;
}

.header {
    height: 123px;
    /* width: 1920px; */
}

#menu_top {
    background-color: #00A5B1;
    /* opacity: 0.9; */
    height: 200px; 
}


#menu_top p {
    font-family: 'MICEGothic Bold';
    text-align: center;
    color: white;
}

#top_text {
    padding-top: 70px;
    font-size: 30px;
}

#bottom_text {
    padding-top: 20px;
    font-size: 18px;
    /* font-weight: 100; */
}

.menu_select {
    text-align: center;
    border-bottom: 0.5px solid lightgray;
}

.menu_types {
    height: 47px;
}

.menu_selector {
    text-decoration: none;      
    color: black;
    font-family: 'MICEGothic Bold';
    font-size: 15px;
}

.menu_types {
    width: 200px;
    /* height: 50px; */
    display: inline-block;
    margin-bottom: 15px;
}

#menu {
    width: 1400px; 
    display: flex;
    flex-wrap: wrap;
    /* padding: 100px; */
    /* margin: 0 auto; */
    margin-left: 300px;
    margin-right: 300px;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* border-top: black 1px solid; */
}



.menu_items {
    text-align: center;
    background-color: beige;
    /* background-color: rgb(235, 235, 235); */
    margin: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 260px;
    height: 300px;
    position: relative;
    display: inline-block;

    /* box-sizing: border-box; */
}

.menu_items::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

.menu_items:hover::before {
    border-color: black;
}

.menu_items img {
    width: 200px;
}

.menu_items span {
    font-family: 'MICEGothic Bold';
}

.menu_items_empty {
    text-align: center;
    margin: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 260px;
}

.info {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-family: 'MICEGothic Bold';
    height: 100%;
}

.menu_nutrient {
    position: absolute;
    display: inline-block;
    /* border: 2px solid; */
    cursor: pointer;
    font-size: 12px;
    /* margin-top:55px; */
    padding: 5px;
    width: 95px;
    left: 120px;
    top: 20px;
}

.menu_nutrient::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

.menu_nutrient:hover::before {
    border-color: black;
}



.nutrient {
    position: relative;
    height: 40%;
    text-align: right !important; 
}

.nutrient_info {
    display: flex;
    justify-content: center;
    font-family: 'MICEGothic Bold';
    position: absolute; /* 절대 위치 지정 */
    top: 0; /* 부모 요소 상단에 위치하도록 지정 */
    left: 0; /* 부모 요소 왼쪽에 위치하도록 지정 */
    background-color: white; /* 배경색을 흰색으로 지정 */
    padding: 10px;
    /* border: 1px solid black; */
    z-index: 1; /* 다른 요소들 위에 나타나도록 z-index 지정 */
    height: 100%;
    width: 100%;
}

table {
    border-collapse: collapse; /* 테이블 셀 경계를 병합하여 경계를 없앰 */
}

tr th {
    padding: 20px;
}

td, th {
    padding: 5px; /* 위 아래로 10px의 간격을 설정 */
}

th {
    font-size: 20px;
}

td {
    font-size: 12px;
    vertical-align: middle;
}


.menu_title {
    /* border: 1px solid; */
    height: 60px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_text {
    /* border: 1px solid; */
    height: 75px;
    font-size: 15px;
    text-align: left;
    line-height: 1.2;
}

.menu_price {
    text-align: right;
}

hr {
    margin: 8px 0px;
}