/* test.css */
.scroll_wrap {overflow: hidden;}
.scroll_on {padding:50px 0;font-size: 24px;font-weight:700;text-align: center;opacity: 0;transition: all 1s;}
.scroll_on.active {opacity: 1 !important;transform: translate(0, 0) !important;}
.scroll_on.type_top {transform: translate(0, -50px);}
.scroll_on.type_bottom {transform: translate(0, 50px);}
.scroll_on.type_left {transform: translate(-50px, 0);}
.scroll_on.type_right {transform: translate(50px, 0);}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.newMenuSwiper {
    width: 100%; /* 변경 가능한 너비 */
    height: auto; /* 필요한 높이 */
    display: grid; /* 그리드 형태로 배치 */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 그리드 열 생성 */
    gap: 10px; /* 이미지 사이의 간격 설정 */
    justify-items: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
}

.swiper-slide.newMenu {
    width: 100%; /* 변경 가능한 너비 */
    text-align: center;
    display: flex;
    flex-direction: column; /* 이미지와 텍스트를 수직으로 정렬 */
    justify-content: center; /* 내부 요소들을 수직 가운데 정렬 */
    align-items: center; /* 내부 요소들을 수평 가운데 정렬 */
}


.swiper-slide.newMenu img {
    width: 150px; /* 변경 가능한 이미지 너비 */
    height: 150px; /* 변경 가능한 이미지 높이 */
    object-fit: cover; /* 이미지가 잘리지 않도록 설정 */
    margin-bottom: 10px; /* 이미지 아래 여백 추가 */
}

.swiper-slide.newMenu span {
    font-family: 'MICEGothic Bold';
}
