/* test.css */
@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html,
body {
    position: relative;
    height: 100%;
    overflow: hidden;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.mySwiper2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiper2 .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide.new {
    text-align: center; /* 이미지를 수평 가운데 정렬하기 위해 */
    line-height: 100vh; /* 이미지를 수직 가운데 정렬하기 위해 */
}

.swiper-slide.new img {
    width: 100%; /* 부모 요소의 너비를 넘지 않도록 설정 */
    height: auto; /* 부모 요소의 높이를 넘지 않도록 설정 */
    vertical-align: middle; /* 이미지를 수직 가운데 정렬하기 위해 */
}

#menu_section {
    width: 500px;
    height: 700px;
    position: absolute;
    left: 100px;
    top: 150px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}




.text1{
    /* animation: show 2s ease-out; */
    font-family: 'MICEGothic Bold';
    position: absolute;
    left: 200px;
    top: 100px;
}


#text1_title {
    font-size: 50px;
}

#text1_content {
    font-size: 30px;
    text-align: left;
    margin-top: 20px;
}

@keyframes show {
    from{
        left: -100px;
        opacity: 0;
    }
    to{
        left: 200px;
        opacity: 1;
    }
}

@keyframes hide {
    from{
        left: 200px;
        opacity: 1;
    }
    to{
        left: -100px;
        opacity: 0;
    }
}

.text2{
    /* animation: show 2s ease-out; */
    font-family: 'MICEGothic Bold';
    position: absolute;
    left: 1100px;
    top: 250px;
}


#text2_title {
    font-size: 40px;
}

#text2_content {
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
}

#text2_content span {
    font-size: 15px;
    margin-left: 15px;
    padding: 5px;
    border: 1px solid black;
    color: black;
}

#text2_content span:hover {
    cursor: pointer;
    border: 2px solid black;
}

a:link,
a:visited,
a:active {
  color: black; /* 링크의 기본 색상 */
  text-decoration: none; /* 링크에 밑줄 제거 */
}


@keyframes show2 {
    from{
        left: 1300px;
        opacity: 0;
    }
    to{
        left: 1100px;
        opacity: 1;
    }
}

@keyframes hide2 {
    from{
        left: 1300px;
        opacity: 1;
    }
    to{
        left: 1100px;
        opacity: 0;
    }
}

#menu_banner {
    position: absolute;
    left: 200px;
    top: 300px;
}

#menu_banner img {
    width: auto;
    height: 600px;
}

@keyframes imgShow {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes imgHide {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.newMenuSwiper2 {
    position: absolute;
    left: 1350px;
    top: 400px;
    width: 300px;
    height: auto;
    cursor: default !important;
    padding: 20px 0px;
}

.newMenuSwiper2 .swiper-slide img {
    width: 100%; /* 부모 요소의 너비에 맞게 조정 */
    height: auto; /* 높이는 자동으로 조정되도록 설정 */
}

.newMenuSwiper2 .swiper-slide span {
    font-family: 'MICEGothic Bold';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;
}

.newMenuSwiper {
    position: absolute;
    left: 1050px;
    top: 400px;
    width: 300px;
    height: auto;
    cursor: default !important;
    padding: 20px 0px;
}

.newMenuSwiper:hover {
    cursor: pointer;
    /* background-color: rgb(247, 247, 247); */
}

/* .newMenuSwiper .swiper-slide {
    width: 200px;
    height: 300px;
} */

.newMenuSwiper .swiper-slide img {
    width: 100%; /* 부모 요소의 너비에 맞게 조정 */
    height: auto; /* 높이는 자동으로 조정되도록 설정 */
}

.newMenuSwiper .swiper-slide img:hover {
    cursor: pointer;
}
.newMenuSwiper .swiper-slide span {
    font-family: 'MICEGothic Bold';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;
}

.text3 {
    font-family: 'MICEGothic Bold';
    position: absolute;
    left: 200px;
    top: 100px;
}

#text3_title {
    font-size: 50px;
    font-style: italic;
}

#text3_content {
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
}

@keyframes show3 {
    from{
        left: -100px;
        opacity: 0;
    }
    to{
        left: 200px;
        opacity: 1;
    }
}

@keyframes hide3 {
    from{
        left: 200px;
        opacity: 1;
    }
    to{
        left: -100px;
        opacity: 0;
    }
}



#startup_section {
    width: 1000px;
    height: auto;
    position: absolute;
    left: 200px;
    top: 250px;
}


.swiper-slide.startup {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper-slide.startup img {
    width: 100%;
    height: auto;

}

.text4 {
    font-family: 'MICEGothic Bold';
    position: absolute;
    left: 1390px;
    top: 250px;
    width: 300px;
    height: 300px;
    background-image: url("../imgs/dddddd.png");
}

#text4_title {
    font-family: 'MICEGothic Bold';
    font-size: 40px;
    position: absolute;
    left: 1300px;
    top: 260px;
    color: black;
}

#text4_content {
    font-family: 'MICEGothic Bold';
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    position: absolute;
    left: 1300px;
    top: 310px;
    color: black;
}

@keyframes show4 {
    from{
        left: 1590px;
        opacity: 0;
    }
    to{
        left: 1390px;
        opacity: 1;
    }
}

@keyframes hide4 {
    from{
        left: 1390px;
        opacity: 1;
    }
    to{
        left: 1590px;
        opacity: 0;
    }
}

/* #img4 {
    position: absolute;
    left: 1300px;
    top: 400px;
}

#img4 img {
    width: 400px;
} */

#text5 {
    font-family: 'MICEGothic Bold';
    position: absolute;
    left: 1560px;
    top: 585px;
    width: 250px;
    height: 250px;
    background-image: url("../imgs/ccccccc.png");
}

#text5_title {
    font-family: 'MICEGothic Bold';
    font-size: 30px;
    position: absolute;
    left: 1705px;
    top: 595px;
    color: black;
}

#text5_content {
    font-family: 'MICEGothic Bold';
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
    position: absolute;
    left: 1705px;
    top: 635px;
    color: black;
}

@keyframes show5 {
    from{
        left: 1360px;
        opacity: 0;
    }
    to{
        left: 1560px;
        opacity: 1;
    }
}

@keyframes hide5 {
    from{
        left: 1560px;
        opacity: 1;
    }
    to{
        left: 1360px;
        opacity: 0;
    }
}


@keyframes show6 {
    from{
        left: 1200px;
        opacity: 0;
    }
    to{
        left: 1300px;
        opacity: 1;
    }
}

@keyframes hide6 {
    from{
        left: 1300px;
        opacity: 1;
    }
    to{
        left: 1200px;
        opacity: 0;
    }
}

@keyframes show7 {
    from{
        left: 1805px;
        opacity: 0;
    }
    to{
        left: 1705px;
        opacity: 1;
    }
}

@keyframes hide7 {
    from{
        left: 1705px;
        opacity: 1;
    }
    to{
        left: 1805px;
        opacity: 0;
    }
}