@font-face {
  font-family: "MICEGothicBold";
  src: url("MICEGothicBold/WebFonts/MICEGothic\ Bold.woff") format("woff"),
    url("MICEGothicBold/WebFonts/MICEGothic\ Bold.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
}
header {
  display: block;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  width: 1920px;
  height: 123px;
}
h2 ul {
  list-style-type: none;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  background-color: lightseagreen;
}
h2 ul li {
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  width: 300px;
}
#logoTop {
  text-align: center;
  padding-right: 10px;
}

nav {
  display: block;
  position: absolute;
  width: 1920px;
  height: 123px;
  top: 100px;
}
#listsCollection {
  text-align: center;
  width: 1916px;
  height: 310px;
  margin: 0px;
  background-color: paleturquoise;
  border: 2px solid lightgray;
  opacity: 0.7;
  display: none;
  overflow: hidden;
  transition: top 0.3s ease-in-out;
}

.lists {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 300px;
}
.lists ul {
  padding-left: 0px;
}
.lists li {
  cursor: pointer;
  list-style-type: none;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
  font-weight: bold;
}
.lists li a:hover {
  color: teal;
  text-decoration: underline;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: black;
}
