@font-face{
    font-family: 'MICEGothic';
    src:
        url("/RenewalCB/assets/fonts/MICEGothicRegular/WebFonts/MICEGothic.woff") format('woff'),
        url("/RenewalCB/assets/fonts/MICEGothicRegular/WebFonts/MICEGothic.woff2") format('woff2');
    }
    #userPolicyBundle{
    display:inline-block;
    transform:translate(300px,70px);
    width:1300px;
    height:100%;
    }
   footer{
    display:block;
    transform:translateY(100px);
    font-weight:bold;
   }
    body{
    font-family: 'MICEGothic';
    font-size:18px;
    /* line-height:2em; */
    }
    #userPolicyBundle{
    line-height:2em;
    }
    h4{
    font-size:25px;
    font-weight:bold;
    text-align:center;
    color:midnightblue;
    }
    h6{
    font-size:20px;
    padding-top:20px;
    padding-bottom:10px;
    color:darkcyan;
    }
    
    #userPolicyBundle>div> ul > li{
    counter-increment: custom-counter;
    list-style-type:none;
    }
    #userPolicyBundle>div> ul > li:before{content:counter(custom-counter)") "
    }
    .footerMembers>ul>li{
    font-weight:bold;
    }
    ol li{
        list-style-type:lower-alpha;
        margin-left:40px;
    }
    #companyInfo1>li, #companyInfo2>li{
    list-style-type:circle;
    }
    table{
    border-bottom:1px solid black; 
    text-align: center;
    }
    th{
    background-color:rgb(65, 65, 109);
    color:white;
    }
    td{
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    width:500px;
    height:100px;
    }
    .storeService{
    text-align: left;
    }
    #tdTwo{
    border-bottom:10px solid midnightblue;
    }
    a{
    text-decoration:none;
    color:black;
    }