main {
  width: 1190px;
  margin: 0 auto;
}
@font-face{/*usb에 있던 파일*/
  font-family: 'MICEGothic';
  src:
      url("/assets/fonts/MICEGothicRegular/WebFonts/MICEGothic.woff") format('woff'),
      url("/assets/fonts/MICEGothicRegular/WebFonts/MICEGothic.woff2") format('woff2');
  }
body{
  font-family: 'MICEGothic'
}
h3 {
  font-size: 24px;
  font-weight: bold;
  color: rgb(65, 65, 109);
}
p {
  font-size: 10px;
  color: gray;
}
#bodyForm,
#form {
  width: 640px;
  text-align: center;
}
table {
  text-align: left;
  font-size: 13px;
  font-weight: bold;
  width: 640px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
td {
  padding: 10px;
  border-bottom: 1px solid lightgray;
  border-left: none;
}
select {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  width: 120px;
  height: 30px;
  border: 0px;
}
input {
  background-color: rgb(240, 240, 240);
  height: 30px;
  border: 0px;
}
input[type="text"],
textarea {
  width: 400px;
  background-color: rgb(240, 240, 240);
  border: 0px;
}
input[type="email"] {
  width: 120px;
}
#fileSearch {
  cursor: pointer;
  position:absolute;
  width:100px;
  height:30px;
  left:400px;
}/*밑에 네 줄은 원래 코드에서 복사한 다음 추가한 것들*/
#fileName{
  display:flex;
  align-items: center;
  position:absolute;
  width:400px;
  height:30px;
  background-color: rgb(240, 240, 240);
}
label{
  position:relative;
}
#BtnCover{
  position:absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  left:400px;
  letter-spacing: 3px;
  color:white;
  background-color: gray;
  z-index: 90;
}
/*fileName.BtnCover. 이거 없었는데 원래 코드에서 가져옴.*/
#submitBtn {
  cursor: pointer;
  color: white;
  width: 300px;
  height: 60px;
  font-size: 24px;
  background-color: rgb(65, 65, 109);
}
#sixNum{
  font-size:15px;
        letter-spacing:2px;
        display:flex;
        justify-content: center;
        align-items: center;
        width:6em;
        height:30px;
        margin-right:10px;
        text-align: center;
        background-color: gray; 
        color:white; 
}
