@font-face{
    font-family: 'MICEGothic';
    src:
        url("MICEGothicRegular/WebFonts/MICEGothic.woff") format('woff'),
        url("MICEGothicRegular/WebFonts/MICEGothic.woff2") format('woff2');
    }
    #patchDiv{
        display:inline-block;
        transform:translate(300px,70px);
        width:1300px;
        height:100%;
    }
   footer{
    display:block;
    transform:translateY(100px);
   }
    /*위의 두 개는 추가한 부분*/
    body{
    font-family:'MICEGothic';
    font-size:18px;
    line-height:1.5em;
    }
    h4{
    font-size:25px;
    font-weight:bold;
    text-align:center;
    color:midnightblue;
    }
    h6{
    font-size:20px;
    font-weight:bold;
    padding-top:20px;
    padding-bottom:10px;
    color:darkcyan;
    }
    li{padding-bottom:3px;}
    ol{/*reset문제로 여기에 type 추가*/
        list-style-type:decimal;
    }
    ul>li{
    list-style-type:square;
    margin-left:20px;
    }
    .here{
    list-style-type:none;
    }
    table{
    border-bottom:1px solid black; 
    text-align: center;
    }
    td{
    
    text-align: center;
    vertical-align: middle;
    width:500px;
    height:100px;
    }
    #tdOne{
    border-bottom:10px solid midnightblue;
    }
    a{
    text-decoration:none;
    color:black;
    }
   
    #thirdParty{
    border-bottom:1px solid black; 
    text-align: center;
    }
    th{
    background-color:rgb(65, 65, 109);
    color:white;
    }
    tr{
    border-bottom: 1px solid gray;
    }