/* index.css */
@font-face {
    font-family: 'MICEGothic Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html,
body {
    position: relative;
    height: 100%;
    overflow: hidden;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.blinking {
    font-family: 'MICEGothic Bold';
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 800px;
    transform: translate(-50%, -50%);
    animation: blink 1s ease-in-out infinite alternate;
}


@keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.seasonMenuSwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -50px;
}

.seasonMenuSwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide.new {
    text-align: center;
    line-height: 100vh; 
}

.swiper-slide.new img {
    width: 100%; 
    height: auto;
    vertical-align: middle; 
}

#menu_section {
    width: 500px;
    height: 700px;
    position: absolute;
    left: 100px;
    top: 150px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}




.text1{
    font-family: 'MICEGothic Bold';
    position: absolute;
    left: 200px;
    top: 50px;
}


#text1_title {
    font-size: 50px;
}

#text1_content {
    font-size: 30px;
    text-align: left;
    margin-top: 20px;
}

@keyframes show {
    from{
        left: -100px;
        opacity: 0;
    }
    to{
        left: 200px;
        opacity: 1;
    }
}

@keyframes hide {
    from{
        left: 200px;
        opacity: 1;
    }
    to{
        left: -100px;
        opacity: 0;
    }
}

.text2{

    font-family: 'MICEGothic Bold';
    position: absolute;
    left: 1100px;
    top: 200px;
}


#text2_title {
    font-size: 40px;
}

#text2_content {
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
}

#text2_content span {
    font-size: 15px;
    margin-left: 15px;
    padding: 5px;
    border: 1px solid black;
    color: black;
}

#text2_content span:hover {
    cursor: pointer;
    border: 2px solid black;
}

a:link,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}


@keyframes show2 {
    from{
        left: 1300px;
        opacity: 0;
    }
    to{
        left: 1100px;
        opacity: 1;
    }
}

@keyframes hide2 {
    from{
        left: 1300px;
        opacity: 1;
    }
    to{
        left: 1100px;
        opacity: 0;
    }
}

#menu_banner {
    position: absolute;
    left: 200px;
    top: 200px;
}

#menu_banner img {
    width: auto;
    height: 600px;
}

@keyframes imgShow {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes imgHide {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.newMenuSwiper2 {
    position: absolute;
    left: 1350px;
    top: 350px;
    width: 300px;
    height: auto;
    cursor: default !important;
    padding: 20px 0px;
}

.newMenuSwiper2 .swiper-slide img {
    width: 100%;
    height: auto;
}

.newMenuSwiper2 .swiper-slide span {
    font-family: 'MICEGothic Bold';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;
}

.newMenuSwiper2 .swiper-slide img:hover {
    cursor: pointer;
}

.newMenuSwiper {
    position: absolute;
    left: 1050px;
    top: 350px;
    width: 300px;
    height: auto;
    cursor: default !important;
    padding: 20px 0px;
}

.newMenuSwiper:hover {
    cursor: pointer;

}



.newMenuSwiper .swiper-slide img {
    width: 100%;
    height: auto;
}

.newMenuSwiper .swiper-slide img:hover {
    cursor: pointer;
}
.newMenuSwiper .swiper-slide span {
    font-family: 'MICEGothic Bold';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;
}

.text3 {
    font-family: 'MICEGothic Bold';
    position: absolute;
    left: 200px;
    top: 50px;
}

#text3_title {
    font-size: 50px;
    font-style: italic;
}

#text3_content {
    font-size: 17px;
    text-align: left;
    margin-top: 20px;
    line-height: 20px;
}

@keyframes show3 {
    from{
        left: -100px;
        opacity: 0;
    }
    to{
        left: 200px;
        opacity: 1;
    }
}

@keyframes hide3 {
    from{
        left: 200px;
        opacity: 1;
    }
    to{
        left: -100px;
        opacity: 0;
    }
}



#startup_section {
    width: 900px;
    height: auto;
    position: absolute;
    left: 200px;
    top: 220px;
}


.swiper-slide.startup {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper-slide.startup img {
    width: 100%;
    height: auto;

}

#text4 {
    font-family: 'MICEGothic Bold';
    position: absolute;
    left: 1290px;
    top: 200px;
    width: 300px;
    height: 300px;
    background-image: url("/RenewalCB/assets/images/index/dddddd.png");
}

#text4::after {
    content: "자세히 보기";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(70, 70, 70, 0.7);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

#text4:hover::after {
    opacity: 0.7;
}

#text4:hover {
    cursor: pointer;
}




#text4_title {
    font-family: 'MICEGothic Bold';
    font-size: 40px;
    position: absolute;
    left: 1200px;
    top: 210px;
    color: black;
}

#text4_content {
    font-family: 'MICEGothic Bold';
    font-size: 20px;
    text-align: left;
    margin-top: 20px;
    position: absolute;
    left: 1200px;
    top: 260px;
    color: black;
}

@keyframes show4 {
    from{
        left: 1490px;
        opacity: 0;
    }
    to{
        left: 1290px;
        opacity: 1;
    }
}

@keyframes hide4 {
    from{
        left: 1290px;
        opacity: 1;
    }
    to{
        left: 1490px;
        opacity: 0;
    }
}

@keyframes show6 {
    from{
        left: 1100px;
        opacity: 0;
    }
    to{
        left: 1200px;
        opacity: 1;
    }
}

@keyframes hide6 {
    from{
        left: 1200px;
        opacity: 1;
    }
    to{
        left: 1100px;
        opacity: 0;
    }
}


#text5 {
    font-family: 'MICEGothic Bold';
    position: absolute;
    left: 1460px;
    top: 535px;
    width: 250px;
    height: 250px;
    background-image: url("/RenewalCB/assets/images/index/ccccccc.png");
}

#text5::after {
    content: "자세히 보기";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(70, 70, 70, 0.7);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

#text5:hover::after {
    opacity: 0.7;
}

#text5:hover {
    cursor: pointer;
}

#text5_title {
    font-family: 'MICEGothic Bold';
    font-size: 30px;
    position: absolute;
    left: 1605px;
    top: 545px;
    color: black;
}

#text5_content {
    font-family: 'MICEGothic Bold';
    font-size: 15px;
    text-align: left;
    margin-top: 20px;
    position: absolute;
    left: 1605px;
    top: 585px;
    color: black;
}

@keyframes show5 {
    from{
        left: 1360px;
        opacity: 0;
    }
    to{
        left: 1460px;
        opacity: 1;
    }
}

@keyframes hide5 {
    from{
        left: 1460px;
        opacity: 1;
    }
    to{
        left: 1360px;
        opacity: 0;
    }
}




@keyframes show7 {
    from{
        left: 1705px;
        opacity: 0;
    }
    to{
        left: 1605px;
        opacity: 1;
    }
}

@keyframes hide7 {
    from{
        left: 1605px;
        opacity: 1;
    }
    to{
        left: 1705px;
        opacity: 0;
    }
}

#footer_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#slide_footer {
    position: absolute;
    top: 535px;
}